<div class="help-footer">
  <%= link_to 'top', '#help-doc-content', 
    data: {
      toggle: 'scrollto-target'
    }, 
    class: 'help-scrollto-top' %>
    &nbsp; 
  <%  
    if section == 'main' && subsection ==  HelpController::IndexSubsection
      # Do nothing
    elsif section = 'main' && subsection == HelpController::IntroductionDocument
  %>
        <%= link_to 'library home', help_library_home_path(library),
              data: {
                target: '#help-doc-content', 
                toggle: 'scrollto-target'
              }
              %>
    
  <% else %>
    <%= link_to 'back to main section', HelpController::IntroductionDocument %>
  <% end %>
</div>
