<div class="help-footer">
  <%= link_to 'top of page', '#help-doc-content', 
    data: {
      toggle: 'scrollto-target'
    }, 
    class: 'help-scrollto-top' %>
    &nbsp; 
  <%= render partial: 'help/home_link' %>
</div>
