<div>
  <div class="help-view-doc" data-result="help-doc-content-result">
    <div class="help-doc-header">
      <%= render partial: 'help/home_link' %>
    </div>
    <div class="help-embedded-content">
      <%= @view_doc %>            
    </div>
    <%= render partial: 'help/footer' %>
  </div>
</div>
