<div class="help-view-doc">
  <div class="common-help-item default-layout content">
    <%= render partial: 'help/view_doc', 
           locals: { 
             library: @library,
             section: @section, 
             subsection: @subsection
           } %>
  </div>
  <%= render partial: 'help/footer' %>
</div>
