<script id="player_contact_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{#was _created}}<div class="index-{{_created}}" id="player-contact-{{master_id}}-{{id}}" data-subscription="player-contact-edit-form-{{master_id}}-{{id}}" data-preprocessor="player_contact_edit_form"  data-template="player-contact-result-template" data-sub-item="player_contact" data-sub-id="{{id}}" data-sort-desc="data-item-rank">{{/was}}
  <ul class="list-group" data-item-rank="{{rank}}">
      <li class="list-group-item is-heading">
        <a data-toggle="scrollto-result" data-target="#player-contact-{{master_id}}-{{id}}" title="edit" class="edit-entity edit-player-contact pull-right glyphicon glyphicon-edit" href="/masters/{{master_id}}/player_contacts/{{this.id}}/edit" data-remote="true" data-player-id="{{this.id}}"></a>
        <span class="pull-right label label-info player-contact-{{rank}}" style="margin-right:1em">{{#if rank}}{{rank}} - {{rank_name}}{{else}}(no rank){{/if}}</span><h4 class="list-group-item-heading" style="text-transform: capitalize" >{{rec_type}}</h4>                        
        
      </li>
      
      <li class="list-group-item player-contact-data"><small>contact</small> <strong class="email">{{data}}</strong></li>
      
      <li class="list-group-item player-contact-source_name">      
        
            <small>source</small> <strong>{{pretty_string source_name return_string="true" capitalize="false"}}</strong>
        
      
      </li>
      <li class="list-group-item record-meta">{{>update_metadata}}</li>
  </ul>
  {{#was _created}}</div>{{/was}}
</script>




<script id="player-contact-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with player_contact}}
      {{>player_contact_result}}    
  {{/with}}
</script>