<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">
<h1>User Access Controls</h1>
<p>
  <%= show_filters %>
</p>
<%
  @app_type_names = {}
  Admin::AppType.all.each do |a|
    @app_type_names[a.id.to_s] = a.name
  end

  @user_emails = {}
  User.all.each do |a|
    @user_emails[a.id.to_s] = a.email
  end

  @resource_names_for_type = Admin::UserAccessControl.resource_names_by_type


%>
<div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>

<table class="table tablesorter admin-list">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>App Type</th>
      <th>User Override</th>
      <th>Role Override</th>
      <th>Access</th>
      <th>Resource Type</th>
      <th>Resource Name</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: view_path('item'), locals: {list_item: primary_model.new} %>

    <%= render partial: view_path('item'), collection: objects_instance, as: :list_item %>

  </tbody>
</table>

<%=  render partial: 'admin_handler/index_actions'  %>
  </div>
</div>
