<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">
<h1>User Access Controls</h1>
<p>
  <%= show_filters %>
</p>
<div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>

<table class="table tablesorter admin-list">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>App Type</th>
      <th>User Override</th>
      <th>Role Override</th>
      <th>Access</th>
      <th>Resource Type</th>
      <th>Resource Name</th>
      <th>Options</th>
      <th>Disabled</th>
      <th>Last Admin Update</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: view_path('item'), locals: {list_item: primary_model.new} %>
    <% objects_instance.each do |list_item| %>
      <%= render partial: view_path('item'), locals: {list_item: list_item} %>
    <% end %>
  </tbody>
</table>

<%=  render partial: 'admin_handler/index_actions'  %>
  </div>
</div>
