<div class="al-details-section">
  <p class="al-item-type">
    <label>label</label> <%= object_instance.panel_label %>
  </p>
  <% if object_instance.standalone? %>
    <p class="al-item-type">
      <label>view URL</label> <%= link_to page_layout_path(object_instance.panel_name), page_layout_path(object_instance.panel_name), target: '_blank'  %>
    </p>
  <% end %>
</div>
