<div class="form-group" style="vertical-align: top">
  <% 
  example = OptionConfigs::PageLayoutOptions.top_level_defs || ''
  example += OptionConfigs::PageLayoutOptions.attr_defs
  %>
  <div class="admin-options-ref-textarea-block">
    <textarea style="font-size: 12px" class="extra-help-info">
<%= example %>
    </textarea>
  </div>
</div>