  <li class="e-sign-group-item e-sign-meta-created-at"><small>created at</small> <strong><%= ESignature::TimeFormatting.printable_time @e_sign_document.created_at %></strong></li>
  <li class="e-sign-group-item e-sign-meta-last-updated"><small>updated at</small> <strong><% unless @e_sign_document.updated_at == @e_sign_document.created_at %><%= ESignature::TimeFormatting.printable_time @e_sign_document.updated_at %><% else %>(not updated)<% end %></strong></li>
  <li class="e-sign-group-item e-sign-meta-created-by"><small>last updated by</small> <strong><%= @e_sign_document.user_id ? "#{User.find(@e_sign_document.user_id).email} (id: #{@e_sign_document.user_id})" : '(unknown)'%></strong></li>
