  <li class="e-sign-group-item e-sign-meta-created-at"><small>Created at</small> <esigndoccreatedat><%= ESignature::TimeFormatting.printable_time @e_sign_document.created_at %></esigndoccreatedat></li>
  <li class="e-sign-group-item e-sign-meta-last-updated"><small>Updated at</small> <esigndocupdatedat><% unless @e_sign_document.updated_at == @e_sign_document.created_at %><%= ESignature::TimeFormatting.printable_time @e_sign_document.updated_at %><% else %>(not updated)<% end %></esigndocupdatedat></li>
  <li class="e-sign-group-item e-sign-meta-created-by"><small>Last updated by</small> <esigndocuserid><%= @e_sign_document.user_id ? "#{User.find(@e_sign_document.user_id).email} (id: #{@e_sign_document.user_id})" : '(unknown)'%></esigndocuserid></li>
