/*@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400");
.standalone-page-container,
.standalone-page-design {
  /*font-family: "Ubuntu", sans-serif;*/
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}

.notes-text {
  font-size: 16px;
}

.footer li {
  list-style: none;
  list-style-position: none;
  list-style-type: none;
}

.model-reference-disabled {
  display: none;
}
