/*@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400");
.standalone-page-container,
.standalone-page-design {
  /*font-family: "Ubuntu", sans-serif;*/
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}

.notes-text {
  font-size: 16px;
}

.new-block {
  float: none;
}

.activity-logs-generic-block .common-template-item.activity-log--study-info-part-page-item {
  max-height: 171px;
  min-height: 0 !important;
  overflow: hidden;
}

.activity-logs-generic-block .common-template-item.activity-log--study-info-part-page-item.page-was-expanded {
  max-height: none;
  overflow: hidden;
}

.activity-logs-generic-block .use-config-layout .model-reference-result {
  order: 10000;
}

.dynamic-show-label {
  float: left !important;
  padding-right: 10px;
}

.embedded-items-item.full-width {
  width: 100% !important;
}

.footer li {
  list-style: none;
  list-style-position: none;
  list-style-type: none;
}

.model-reference-disabled {
  display: none;
}

form .dynamic-model--study-page-section-content {
  width: 100%;
}

.list-group-item.results-caption-before.dynamic-model--study-page-section-title,
.list-group-item.results-caption-before.dynamic-model--study-page-section-content,
.list-group-item.results-caption-before.dynamic-model--study-page-section-position_number,
.list-group-item.result-field-container.dynamic-model--study-page-section-position_number,
.list-group-item.results-caption-before.dynamic-model--study-page-section-block_width,
.list-group-item.result-field-container.dynamic-model--study-page-section-block_width,
.list-group-item.results-caption-before.dynamic-model--study-page-section-extra_classes,
.list-group-item.result-field-container.dynamic-model--study-page-section-extra_classes,
.list-group-item.results-caption-before.dynamic-model--study-page-section-tag_select_allow_roles_access,
.list-group-item.result-field-container.dynamic-model--study-page-section-tag_select_allow_roles_access,
.list-group-item.results-caption-before.dynamic-model--study-page-section-disabled,
.list-group-item.result-field-container.dynamic-model--study-page-section-disabled {
  display: none;
}

li.list-group-item.results-caption-before.activity-log--study-info-part-page-description {
  display: none;
}

.list-group-item.caption-before.dynamic-model--study-page-section-title,
.list-group-item.caption-before.dynamic-model--study-page-section-content {
  display: none;
}

#master_results_block form .edit-field-container input,
#master_results_block form .edit-field-container select {
  padding: 0 4px;
  line-height: 1.2em;
  height: 1em;
  border: 0;
  box-shadow: none;
  font-size: 18px;
  appearance: none;
}

#master_results_block form .edit-field-container input[type="checkbox"] {
  appearance: auto;
  min-width: 1em;
}

input.form-control,
select.form-control {
  background-color: rgb(255 246 226) !important;
}

input.form-control.has-value,
select.form-control.has-value {
  background-color: rgb(255 246 226) !important;
}
