<% if resource.errors.any? %>
  <%
    # When the user forgets to check the terms of use, we should display an error indicating terms of use must be accepted;
    # however, the terms_of_use_accepted validation messages should not be shown to the user.
    # We need to keep validations in the model. Since the user sees the terms_of_use acceptance error,
    # showing the terms_of_use_accepted errors is redundant and might be confusing to the user.
    resource.errors.delete(:terms_of_use_accepted) if resource.is_a?(User)
  %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
