container_commands:

  00_setup_epel:
    command: sudo yum-config-manager --enable epel
  01_setup_filestore:
    command: sudo yum install nfs-utils prcbind autoconf fuse fuse-libs fuse-devel libarchive libarchive-devel
  02_make_archivemount:
    command: |
      cd /tmp
      wget https://www.cybernoia.de/software/archivemount/archivemount-0.8.12.tar.gz
      tar -xvzf archivemount-0.8.12.tar.gz
      cd archivemount-0.8.12
      autoreconf -i
      ./configure && make && sudo make install
      sudo ln -s /usr/local/bin/archivemount /usr/bin/archivemount
