container_commands:

  00_setup_epel:
    command: sudo yum-config-manager --enable epel
  01_setup_filestore:
    command: sudo yum install -y nfs-utils prcbind autoconf fuse fuse-libs fuse-devel libarchive libarchive-devel
  02_make_archivemount:
    command: |
      cd /tmp
      rm -rf archivemount-0.8.12
      rm -f archivemount-0.8.12.tar.gz
      wget https://www.cybernoia.de/software/archivemount/archivemount-0.8.12.tar.gz
      tar -xvzf archivemount-0.8.12.tar.gz
      cd archivemount-0.8.12
      # autoreconf -i
      ./configure && make && sudo make install
      if [ -f /usr/bin/archivemount ]; then unlink /usr/bin/archivemount; fi
      ln -s /usr/local/bin/archivemount /usr/bin/archivemount
  03_get_certbot:
    command: |
      yum install -y augeas-libs libffi-devel python27-tools system-rpm-config
      cd /tmp
      rm -f certbot-auto
      wget https://dl.eff.org/certbot-auto
      chmod a+x certbot-auto
      rm -rf /etc/letsencrypt/live/file-upload-dev.32vnp6pmmu.us-east-1.elasticbeanstalk.com*/*
      ./certbot-auto   certonly --debug --non-interactive --email phil.ayres@consected.com.com --agree-tos --standalone --domains file-upload-dev.32vnp6pmmu.us-east-1.elasticbeanstalk.com --keep-until-expiring --pre-hook "service nginx stop; service passenger stop" --staging
      rm -f /etc/pki/tls/certs/server.key
      rm -f /etc/pki/tls/certs/server.crt
      mv /etc/letsencrypt/live/file-upload-dev.32vnp6pmmu.us-east-1.elasticbeanstalk.com*/privkey.pem /etc/pki/tls/certs/server.key
      mv /etc/letsencrypt/live/file-upload-dev.32vnp6pmmu.us-east-1.elasticbeanstalk.com*/fullchain.pem /etc/pki/tls/certs/server.crt
