<div class="admin-options-block-outer">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <%= render partial: 'redcap/data_dictionaries/tabs', object_instance: object_instance %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <%= render partial: 'redcap/data_dictionaries/tab_panels', object_instance: object_instance %>
  </div>
</div>