<%
unless defined? no_active
  no_active = false 
end
%>
<li role="presentation" class="<%= no_active ? '' : 'active'%>"><a href="#def-dd-details-block" aria-controls="def-dd-details-block" role="tab" data-toggle="tab">Data Dictionary</a></li>
<li role="presentation" class=""><a href="#def-dropdowns-block" aria-controls="def-dropdowns-block" role="tab" data-toggle="tab">Dropdowns</a></li>
<li role="presentation" class=""><a href="#def-checkboxes-block" aria-controls="def-checkboxes-block" role="tab" data-toggle="tab">Checkboxes</a></li>
<li role="presentation" class=""><a href="#def-radio-block" aria-controls="def-radio-block" role="tab" data-toggle="tab">Radio</a></li>
<li role="presentation" class=""><a href="#def-dd-metadata-block" aria-controls="def-dd-metadata-block" role="tab" data-toggle="tab">Data Dict. Metadata</a></li>
<li role="presentation" class=""><a href="#def-dd-sample-form" aria-controls="sample-form" role="tab" data-toggle="tab">Sample Form</a></li>
