<div class="">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#def-details-block" aria-controls="def-details-block" role="tab" data-toggle="tab">Details</a></li>
    <li role="presentation"><a href="#user-access-controls" aria-controls="user-access-controls" role="tab" data-toggle="tab">User Access Controls</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="def-details-block">
      <h4>Details</h4>
      <%= render partial: 'admin/external_identifiers/def_details', locals: {object_instance: object_instance} %>
    </div>

    <div role="tabpanel" class="tab-pane  on-open-click" id="user-access-controls">
    <% if current_admin.can_admin?(:user_access_controls)%>
    <%= render partial: 'admin/external_identifiers/uac_panel', locals: {object_instance: object_instance} %>
    <% else %>
    <p>Not authorized to administer user access controls</p>
    <% end %>
    </div>
  </div>
</div>