<div class="form-group" style="vertical-align: top">
  <label><%= object_instance.class.to_s.underscore.humanize.titleize%> Options</label>
  <% 
  # example = OptionConfigs::ExternalIdentifierOptions.top_level_defs
  # example = example.merge('default' => OptionConfigs::ExternalIdentifierOptions.attr_defs.deep_stringify_keys)
  %>
  <div class="ei-options-ref-textarea-block">
    <textarea style="font-size: 12px" class="extra-help-info">
<%#= example.to_yaml %>
    </textarea>
  </div>
</div>