<% category_models.each do |m| %>
  <% if viewable  [m.model_association_name] %>
    <% if DynamicModel.orientation(category) == :vertical %>
    <div class="col-md-8 col-lg-6" id="<%=m.full_item_types_name%>-{{id}}-" data-sub-list="<%=m.full_item_types_name%>"></div>
    <% else %>
    <div class="row common-template-list dynamic-model-list resize-children" id="<%=m.full_item_types_name%>-{{id}}-" data-sub-list="<%=m.full_item_types_name%>"></div>
    <% end %>
  <% end %>
<% end %>
