<script id="search-count-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  <span>
  <span class="search_count">{{count}}</span> record{{#is count '!==' 1}}s{{/is}}
  {{#is count '>' 100}} - showing 100 results - refine search to show others{{/is}}
  </span>
</script>
