<script id="player_info_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item">
        {{>item_flag_link}}
        <a class="edit-entity edit-player-info pull-right glyphicon glyphicon-edit" href="/masters/{{master_id}}/player_infos/{{this.id}}/edit" data-remote="true" data-player-id="{{this.id}}" data-result-target=""></a>        
        <h4 class="list-group-item-heading">Player Info <span class="heading-rank">{{rank}}</span></h4>
        {{>item_flag_container}}
      </li>
      {{#each this}}
      {{#in this @key "first_name,middle_name,last_name,nick_name,birth_date,death_date,start_year,end_year" }}
      <li class="list-group-item player-info-{{@key}}"><small>{{humanize @key}}</small> <strong>{{pretty_string this  return_string="true" capitalize="true"}}</strong></li>
      {{/in}}
      {{/each}}

    </ul>
  </div>
</script>

<script id="pro_info_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
                            
      <div class="col-md-12" id="pro-info-{{player_info_id}}-{{id}}">        

        <ul class="list-group">
            <li class="list-group-item">
              <h4  class="list-group-item-heading">Pro Info</h4>
            </li>
            {{#each this }}
            {{#in this @key "first_name,middle_name,last_name,nick_name,birth_date,death_date,start_year,end_year,college" }}
            <li class="list-group-item pro-info-{{@key}}"><small>{{humanize @key}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
            {{/in}}
            {{/each}}
        </ul>

      </div>  
    
</script>

<script id="address_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">

  <ul class="list-group">
      <li class="list-group-item">
        <a class="edit-entity edit-address pull-right glyphicon glyphicon-edit" href="/masters/{{master_id}}/addresses/{{this.id}}/edit" data-remote="true" data-player-id="{{this.id}}"></a>

        <h4 class="list-group-item-heading">Addresses <span class="heading-rank">{{rank}}</span></h4>                        
      </li>
      {{#each this}}
      {{#in this @key "street,street2,street3,city,state,zip,source,rec_type" }}
      <li class="list-group-item address-{{@key}}"><small>{{humanize @key}}</small> <strong>{{pretty_string this  return_string="true" capitalize="true"}}</strong></li>
      {{/in}}
      {{/each}}

  </ul>
</script>


<script id="manual_investigation_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">

  <ul class="list-group">
      <li class="list-group-item">
        <a class="edit-entity edit-manual_investigation pull-right glyphicon glyphicon-edit" href="/masters/{{master_id}}/manual_investigations/{{this.id}}/edit" data-remote="true" data-player-id="{{this.id}}"></a>

        <h4 class="list-group-item-heading">Manual Investigations</h4>                        
      </li>
      {{#each this}}
      {{#in this @key "in_survey" }}
      <li class="list-group-item manual_investigation-{{@key}}"><small>{{humanize @key}}</small> <strong>{{pretty_string this  return_string="true" capitalize="true"}}</strong></li>
      {{/in}}
      {{/each}}

  </ul>
</script>


<script id="player_contact_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">

  <ul class="list-group">
      <li class="list-group-item is-heading">
        <a class="edit-entity edit-player-contact pull-right glyphicon glyphicon-edit" href="/masters/{{master_id}}/player_contacts/{{this.id}}/edit" data-remote="true" data-player-id="{{this.id}}"></a>
        <h4 class="list-group-item-heading">{{rec_type}} <small>({{#if active}}active{{else}}inactive{{/if}})</small> <span class="heading-rank">{{rank}}</span></h4>                        
      </li>
      
      <li class="list-group-item player-contact-data"><small>contact</small> <strong class="email">{{data}}</strong></li>
      
      <li class="list-group-item is-combo player-contact-source_rank_active">      
        <div class="row">
          <div class="col-md-12">
            <small>source</small> <strong>{{pretty_string source return_string="true" capitalize="true"}}</strong>
          </div>
          <div class="col-md-12">
            <small>active date</small> <strong>{{pretty_string active_date return_string="true" capitalize="true"}}</strong>
          </div>
        </div>
      
      
      </li>
      
  </ul>
</script>


<script id="scantron_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">

  <ul class="list-group">
      <li class="list-group-item scantron-scantron_id">
        <a class="edit-entity edit-scantron pull-right glyphicon glyphicon-edit" href="/masters/{{master_id}}/scantrons/{{this.id}}/edit" data-remote="true" data-player-id="{{this.id}}"></a>
        <small>Scantron</small> <strong>{{scantron_id}}</strong>
      </li>
      <li class="list-group-item is-combo scantron-rank_and_source">     
        <div class="row">
          <div class="col-md-8">
            <small>Rank</small> <strong>{{rank}}</strong>
          </div>
          <div class="col-md-16">
            <small>Source</small> <strong>{{source}}</strong>
          </div>
        </div>
      </li>
  </ul>
</script>


<script id="tracker_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">

  
      
      {{#each this}}
      {{#in this @key "event,event_date,c_method,outcome,outcome_date,protocol_name" }}
      <td class="tracker-{{@key}}">{{pretty_string this  return_string="true" capitalize="true"}}</td>
      {{/in}}
      {{/each}}

  
</script>

<script id="item_flag_link-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <span class="pull-left item-flags-count-{{item_flags.length}}">
  <a class="flag-entity glyphicon glyphicon-tag" href="/masters/{{master_id}}/player_infos/{{this.id}}/item_flags" data-remote="true" data-result-target="#item-flags-{{master_id}}-{{item_type}}-{{this.id}}" data-template="item-flags-result-template"></a>
  </span>
</script>                                      
                                      
<script id="item_flag_container-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">  
  <div id="item-flags-{{master_id}}-{{item_type}}-{{id}}"></div>
</script>


<script id="item_flags_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{#each item_flags.results}}
    {{>item_flags_result}}
  {{else}}
    <span class="no-item-flags">no flags</span>
  {{/each}}
  <span class="add-flag"><a href="/masters/{{master_id}}/{{item_type}}/{{item_id}}/item_flags/new" data-remote="true">+flag</a></span>    
  <div class="" id="item-flag-{{item_type}}-{{item_id}}-" data-subscription="item-flag-edit-form-{{master_id}}-{{item_type}}-{{item_id}}-{{id}}">
</script>

<script id="item_flag_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
   <span class="item-flag">{{this.id}}</span>
</script>


<script>
  $('script.handlebars-partial').each(function(){
    var id = $(this).attr('id');
    
    id = id.replace('-partial', '');
    Handlebars.registerPartial(id, $(this).html());
  });
</script>

<script id="player-info-result-template" type="text/x-handlebars-template" class="hidden">
  {{#with player_info}}  
    {{>player_info_result }}
    {{>pro_info_result pro_info player_info_id=id}}
  {{/with}}
</script>

<script id="address-result-template" type="text/x-handlebars-template" class="hidden">
  {{#with address}}
    {{>address_result }}
  {{/with}}
</script>

<script id="scantron-result-template" type="text/x-handlebars-template" class="hidden">
  {{#with scantron}}
    {{>scantron_result }}
  {{/with}}
</script>

<script id="player-contact-result-template" type="text/x-handlebars-template" class="hidden">
  {{#with player_contact}}
    {{>player_contact_result }}
  {{/with}}
</script>

<script id="tracker-result-template" type="text/x-handlebars-template" class="hidden">
  {{#with tracker}}
    {{>tracker_result }}
  {{/with}}
</script>

<script id="item-flag-result-template" type="text/x-handlebars-template" class="hidden">
  {{#with tracker}}
    {{>item_flag_result }}
  {{/with}}
</script>


<script id="item-flags-result-template" type="text/x-handlebars-template" class="hidden">
  {{#with item_flags}}
    {{>item_flags_result }}
  {{/with}}
</script>



<script id="search-results-template" type="text/x-handlebars-template" class="hidden">
  {{#if masters.length}}
  <div class="panel-group" id="results-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      
    {{#each masters}}
      <div class="panel-heading" role="tab" id="master-{{id}}">          
        <h3 class="panel-title">     
          <a class="master-expander" data-toggle="collapse" data-parent="#results-accordion" href="#master-{{id}}-player-infos" aria-expanded="false" aria-controls="master-{{id}}-player-infos" class=" {{#is ../masters.length '!==' 1}}collapsed{{/is}}">
            <span class="msid">{{id}}</span> : 
            <strong class="player-names">
            {{capitalize player_infos.0.first_name}} 
            {{capitalize player_infos.0.middle_name}} 
            {{capitalize player_infos.0.last_name}}
            
            {{#if player_infos.0.nick_name}}
              ({{capitalize player_infos.0.nick_name}})
            {{/if}}
            </strong>
              <small>DOB</small> {{local_date player_infos.0.birth_date '-'}}
              <small>DOD</small> {{local_date player_infos.0.death_date '-'}}
              <small>Rank</small> {{player_infos.0.rank}}
            
          </a>
        </h3>
      </div>
      <div id="master-{{id}}-player-infos" class="panel-collapse collapse {{#is ../masters.length 1}}in{{/is}}" role="tabpanel" aria-labelledby="master-{{id}}">
        <ul class="nav nav-pills ">
          <li role="presentation">
            <a href="#" data-toggle="collapse" data-target="#extras-{{id}}" class="collapsed"><span class="caret"></span> extras</a>
          </li>
          <li role="presentation">
            <a href="/masters/{{id}}/trackers" data-toggle="collapse" data-target="#trackers-{{id}}" data-remote="true" class="collapsed"><span class="caret"></span> tracker ({{trackers.length}})</a>
          </li>
          <li role="presentation">
            <a href="#" data-toggle="collapse" data-target="#details-{{id}}" class=""><span class="caret"></span> details</a>
          </li>
        </ul>

        <div class="panel-body">
          
          <div id="extras-{{id}}" class="row collapse extras-block">
            <div class="col-md-6">
                {{#each scantrons}}
                  <div class="index-{{@index}}" id="scantron-{{../id}}-{{id}}" data-subscription="scantron-edit-form-{{../id}}-{{id}}">
                    {{>scantron_result master_id=../id}}
                  </div>
                {{/each}}

                <div class="" id="scantron-{{id}}-" data-subscription="scantron-edit-form-{{id}}-">
                  {{#unless scantrons}}<h4>No Scantron records</h4>{{/unless}}                
                </div>
                <p class="text-center"><a href="/masters/{{id}}/scantrons/new" data-remote="true">Create Scantron record</a> </p>

            </div>
            <div class="col-md-6">
                {{#each manual_investigations}}
                  <div class="index-{{@index}}" id="manual_investigation-{{../id}}-{{id}}" data-subscription="manual_investigation-edit-form-{{../id}}-{{id}}">
                    {{>manual_investigation_result master_id=../id}}
                  </div>
                {{/each}}

                <div class="" id="manual_investigation-{{id}}-" data-subscription="manual_investigation-edit-form-{{id}}-">
                  {{#unless manual_investigations}}<h4>No Manual records</h4>{{/unless}}                
                </div>
                <p class="text-center"><a href="/masters/{{id}}/manual_investigations/new" data-remote="true">Create Manual record</a> </p>

            </div>
          </div>
  
          <div id="trackers-{{id}}" class="row collapse tracker-block">
            <table class="table">
              <thead><tr>
                <th>event</th><th>event date</th><th>contact method</th><th>outcome</th><th>outcome date</th><th>protocol</th></tr></thead>
              <tfoot><tr><td colspan="6">
                <a href="/masters/{{id}}/trackers/new" data-remote="true" class="btn btn-sm btn-primary pull-right">Create Tracker record</a> \n\
              </td></tr></tfoot>
              <tbody>
              {{#each trackers}}
                <tr class="index-{{@index}}" id="tracker-{{../id}}-{{id}}" >                  
                    {{>tracker_result master_id=../id}}
                </tr>              
              {{/each}}
              <tr id="tracker-{{id}}-" data-subscription="tracker-edit-form-{{id}}-">
              {{#is trackers.length 0}}<td colspan="6"><h4>No Tracker Records</h4></td>{{/is}}
              </tr>
              
              </tbody>
            </table>
            
            
          </div>
          
          <div id="details-{{id}}" class="collapse in details-block">
            <div class="row">
              <div class="col-md-12">
                {{#each player_infos}}
                  <div class="row index-{{@index}}" id="player-info-{{../id}}-{{id}}" data-subscription="player-info-edit-form-{{../id}}-{{id}}">
                    {{>player_info_result master_id=../id}}
                    {{>pro_info_result pro_info player_info_id=id}}

                  </div>  
                {{else}}
                  <div class="row" id="player-info-{{../id}}-" data-subscription="player-info-edit-form-{{../id}}-">
                    <h4>No player or pro info to show</h4>
                    <p><a href="/masters/{{id}}/player_infos/new" data-remote="true">Create Player Info record</a> </p>
                  </div>
                {{/each}}
              </div>



              <div class="col-md-6">
                {{#each addresses}}
                  <div class="index-{{@index}}" id="address-{{../id}}-{{id}}" data-subscription="address-edit-form-{{../id}}-{{id}}">
                    {{>address_result master_id=../id}}
                  </div>

                {{/each}}

                <div class="" id="address-{{id}}-" data-subscription="address-edit-form-{{id}}-">
                  {{#unless addresses}}<h4>No addresses</h4>{{/unless}}                
                </div>
                <p class="text-center"><a href="/masters/{{id}}/addresses/new" data-remote="true">Create Address record</a> </p>

              </div>
              <div class="col-md-6">
                {{#each player_contacts}}
                  <div class="index-{{@index}}" id="player-contact-{{../id}}-{{id}}" data-subscription="player-contact-edit-form-{{../id}}-{{id}}">
                    {{>player_contact_result master_id=../id}}
                  </div>

                {{/each}}

                <div class="" id="player-contact-{{id}}-" data-subscription="player-contact-edit-form-{{id}}-">
                  {{#unless player_contacts}}<h4>No Contact Records</h4>{{/unless}}                
                </div>
                <p class="text-center"><a href="/masters/{{id}}/player_contacts/new" data-remote="true">Create Contact record</a> </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
      
    </div>
  {{else}}
      <h2>No Results</h2>
  {{/if}}
  
  
</script>
  
  
  