<div class="well col-sm-8 col-sm-offset-7">
<h2>Create a new Master Record and MSID</h2>
<%= form_for @master, url: url_for(action: :create) do |f| %>
  <%= link_to "Cancel", "/", class: "btn btn-danger" %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
</div>