<%= render partial: 'search_form' %>

<div  class="container-fluid">
  <div id="master_results_block" class="" data-subscription="masters" data-template="search-results-template" data-preprocessor="master_search_results" ></div>
</div>
<%= render partial: 'search_results_template' %>