<div style="width: 812px; margin: 0 auto; height: auto; overflow: hidden;" class="e-signature-container">
  <iframe class="e_signature_document_iframe" src='javascript:void(0)' srcdoc="" style="width: 810px; border: 0;"></iframe>
  <textarea class='hidden e_signature_document'><%= (form_object_instance.attributes[field_name] || "").html_safe%></textarea>
</div>
