<%= form.label t("field_names.#{field_name_sym}", default: field_name) %>
<% if field_name_sym == :notes && caption_before[field_name_sym]  %>
    <p class="caption_before caption_before_notes">
      <%= show_caption_before field_name_sym %>
    </p>
<% end %>

<%= form.text_area field_name_sym, class: 'form-control'  %>
