<%= form.label field_name_sym, t("field_names.#{field_name_sym}", default: field_name.sub(/^fixed_/, '').humanize).capitalize, class: 'hidden' %>
<span class="placeholder-field" data-attr-name="<%= field_name_sym %>"  data-object-name="<%=form_object_item_type_us%>">

</span>
