<div class="container">
    <h2>Created <span><%=@sage_assignments.length%></span> Sage IDs</h2>
    <p>Primary key (sage_assignments.id) range: <%= @sage_assignments.first.id%> to <%= @sage_assignments.last.id%></p>
    <p><%=link_to "Done", admin_sage_assignments_path %></p>
</div>