<div class="container">
    <h2>Create Sage IDs</h2>
<%= form_for @sage_assignment, url: admin_sage_assignments_path do |f|%>
  <%= f.label :create_count %>
  <%= f.number_field :create_count %>
    
    <%= f.submit "Create Sage IDs" %>
<%  end %>
</div>