<div class="row">
  <div class="col-sm-8">
      <ul>
          <% @action_logs.each do |l|%>
          <li style="min-height:20px;"><%= link_to l, action_log_path(l), remote: true, data: {"result-target" => "#file-details", template: 'file-detail-template'} %></li>
          <% end %>
      </ul>
  </div>
  <div id="file-details-block" class="col-sm-16">
      <div id="file-details">
          
      </div>
  </div>
</div>

<script id="file-detail-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  <table class="table tablesorter">
  <thead><tr>
  
  {{#each this.0.detail}}
  {{#is @key '!==' 'params'}}
  <th>{{@key}}</th>
  {{/is}}
  {{/each}}
  <th>params</th>
  </tr></thead>
  <tbody>
  
  {{#each this}}
  <tr>
  {{#each detail}}
  {{#is @key '!==' 'params'}}
  <td>{{this}}</td>
  {{/is}}
  {{/each}}
    <td>
    <pre>{{pretty_print detail.params}}</pre>
    </td>
  </tr>
  {{/each}}
    </tbody></table>
</script>
