<div data-subscription="filestore-classification-stored-file-edit-form--<%=container_id%>" 
     data-preprocessor="filestore_classification_block" 
     data-container-id="<%=container_id%>"
     data-result-target-for-child=""
     class="container-classifications-outer" 
>
  <div class="container-classifications is-empty"></div>
</div>
<div data-subscription="filestore-classification-archived-file-edit-form--<%=container_id%>" 
     data-preprocessor="filestore_classification_block" 
     data-container-id="<%=container_id%>"
     data-result-target-for-child=""
     class="container-classifications-outer" 
>
  <div class="container-classifications is-empty"></div>
</div>
