<div data-subscription="filestore-classification-stored-file-edit-form--<%=container_id%>" data-preprocessor="filestore_classification_block" class="container-classifications-outer" data-container-id="<%=container_id%>">
  <div class="container-classifications is-empty"></div>
</div>
<div data-subscription="filestore-classification-archived-file-edit-form--<%=container_id%>" data-preprocessor="filestore_classification_block" class="container-classifications-outer" data-container-id="<%=container_id%>">
  <div class="container-classifications is-empty"></div>
</div>
