<%= render partial: 'common_templates/edit_form', locals: {caption: caption} %>
<div>
  <div data-result="nfs-store-container-classifications-<%=@container.id%>" class="container-classifications" id="container-classifications-<%=@container.id%>">

  </div>
</div>
