<script id="filestore-classification-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with nfs_store__manage__stored_file}}
    <span class="bem-class-title">
      {{#if title}}{{title}}{{else}}(no title){{/if}}
    </span>
  {{/with}}
</script>


<script id="filestore-classification-empty-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  <div class="container-classifications is-empty"></div>
</script>
