<div class="">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#def-details-block" aria-controls="def-details-block" role="tab" data-toggle="tab">Details</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="def-details-block">
      <h4>Include with</h4>
      <pre><code>
        # @library <%=object_instance.category%> <%=object_instance.name%>
      </code></pre>
    </div>
  </div>
</div>
