<div class="container no-table-results">
  <div id="user_profile_container_block" class="" data-sub-item="user" data-template="user-profile-container-template" form-res-template="user-profile-container-template" data-preprocessor="user_profile_container" ></div>
</div>
<%= render partial: 'user_profiles/container_template' %>
<a href="/user_profile/" data-remote="true" data-result-target="#user_profile_container_block" class="hidden on-loaded-auto-click">go</a>
