.activity-list-section,
.activity-list-references,
.activity-list-libraries,
.activity-list-file-filters {
  padding: 0 10px;
}

ul.activity-list,
ul.admin-tag-list {
  padding-left: 0;
  text-align: left;

  li {
    padding: 3px 5px;
    border: 1px solid silver;
    border-radius: 3px;
    line-height: 1em;
    display: inline-block;
    list-style: none;
    background-color: white;
    margin: 1px;
    font-family: monospace;
    font-size: 12px;
  }

  li.activity-list-name {
    background-color: rgb(221, 221, 221);
    &:hover {
      cursor: pointer;
    }
  }
}


.admin-tag-list.selectable li:hover {
  cursor: pointer;
}

.al-details-section {
  padding: 0 10px;

  .al-field-list {
    font-family: monospace;
  }
}

.al-options-editor-block {
  width: 800px;
  height: 80vh;
}

.al-options-ref-block {
  width: 800px;
  height: auto;
}

.al-options-ref-textarea-block {
  width: 700px;
  height: 60vh;
  background-color: #f1f1f1;

  textarea {
    height: 60vh;
  }

  .CodeMirror {
    height: 100%;
    background-color: #f1f1f1;
  }
}

.al-options-ref-block .tab-content {
  background-color: white;
  padding: 1em;
  border: 1px solid rgb(221, 221, 221);
  border-top: 0;
  max-height: 100%;
  overflow: auto;
  height: auto;
}

.al-form-info {
  max-height: 111vh;
  overflow-y: auto;
  width: auto;
  flex-shrink: 0;
}
