.admin-buttons-block {
  margin: 8px;
}

.admin-details-section {
  padding: 0 10px;

  .admin-field-list {
    font-family: monospace;
  }
}

.admin-main-options-block {
  display: flex;
  flex-direction: row;
}

.admin-options-editor-block {
  height: 80vh;
  width: auto;
  margin: 6px;
}

.admin-options-ref-block {
  height: 80vh;
  width: 40vw;
  margin: 6px;

  > div {
    height: 100%;
  }
}

.admin-options-block-outer {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  .tab-content {
    overflow: auto;
    height: auto;
    flex-grow: 1;
  }
}

ul.admin-options-tag-list {
  padding-left: 0;

  li {
    padding: 3px 5px;
    border: 1px solid silver;
    border-radius: 3px;
    line-height: 1em;
    display: inline-block;
    list-style: none;
    background-color: white;
    margin: 1px;
    font-family: monospace;
    font-size: 12px;
  }
}

.admin-options-ref-textarea-block {
  width: 95%;

  height: 60vh;
  background-color: #f1f1f1;

  textarea {
    height: 60vh;
  }

  .CodeMirror {
    height: 100%;
    background-color: #f1f1f1;
  }
}

.admin-options-ref-block .tab-content {
  background-color: white;
  padding: 1em;
  border: 1px solid rgb(221, 221, 221);
  border-top: 0;
  height: 100%;
  overflow: auto;
}

.admin-form-block-outer {
  display: flex;
}

.admin-how-to {
  margin-bottom: 30px;
}

.admin-details-section {
  .toc {
    margin-bottom: 30px;
  }
}

.admin-info-col {

  max-width: 50%; 
  flex-grow: 1; 
  min-width: 250px;
}