.admin-edit-form .well {
  background: rgb(245, 245, 245);
}

a > .caret {
  visibility: visible;
  transform: rotate(180deg);
}

a.collapsed > .caret {
  visibility: visible;
  transform: none;
}

.CodeMirror.cm-s-default {
  border: 1px solid rgb(204, 204, 204);
}

.common-admin-markdown-editor .custom-editor {
  width: 800px;
  height: 40vh;
  background: white;
}

.form-group[data-out-attr-name="notes"] {
  vertical-align: top;
}
