.admin-index-page,
.admin-user-index-page {
  border-color: silver;
  .nav > li > a {
    padding: 10px 1px;
  }
}

.admin-panel-actions {
  float: right;
  margin-right: 20px;
  margin-top: -7px;
}

.admin-edit-form .well {
  background: rgb(245, 245, 245);
}

a > .caret {
  visibility: visible;
  transform: rotate(180deg);
}

a.collapsed > .caret {
  visibility: visible;
  transform: none;
}

.CodeMirror.cm-s-default {
  border: 1px solid rgb(204, 204, 204);
}

.common-admin-markdown-editor .custom-editor {
  width: 800px;
  height: 20vh;
  background: white;
}

.form-group[data-out-attr-name='notes'] {
  vertical-align: top;
  display: block;
}

.admin-title {
  padding-left: 15px;
  padding-right: 15px;
}

.admin-help-icon {
  float: right;
}

.password-expired {
  color: gray;
}

.admin-field- {
  min-width: 60px;
}

.admin-result-index {
  td,
  th {
    min-width: 60px;
  }
}

.admin-edit-form .form-group,
.admin-edit-form .form-text-area-group {
  label {
    display: block;
  }

  input[type='checkbox'] + label,
  input[type='radio'] + label {
    display: inline-block;
  }
}

.admin-edit-form .form-text-area-group {
  margin: 0 10px 8px;
  min-width: 400px;
}

.admin-edit-form .form-group[data-out-attr-name='description'] {
  display: block;
}

.admin-flex-block {
  display: flex;
  align-items: stretch;
}

.label-help-icon {
  color: gray;
}

#admin_user_access_control_resource_name {
  width: 30em;
}

#admin_role_description_name {
  width: 30em;
}

.form-group[data-out-attr-name='name'] {
  display: block;
}

.app-configuration-value-block {
  min-width: 300px
}

.info-danger {
  color: red;
}

div#creddocframe {
  border: 1px solid rgb(128, 128, 128);
  padding: 10px;
  margin: 10px;
  background: rgb(255, 255, 255);
}

.admin-panel-components {
  ul {
    list-style: none;
    padding-left: 0.3em;
  }
} 