.admin-index-page,
.admin-user-index-page {
  border-color: silver;
  .nav > li > a {
    padding: 10px 1px;
  }
}

.admin-index-page {
  .panel-heading .config-status-block {
    p {
      display: inline-block;
      margin-right: 2em;
    }
  }
}

.admin-panel-actions {
  float: right;
  margin-right: 20px;
  margin-top: -7px;
}

.admin-edit-form .well {
  background: rgb(245, 245, 245);
}

a > .caret {
  visibility: visible;
  transform: rotate(180deg);
}

a.collapsed > .caret {
  visibility: visible;
  transform: none;
}

.CodeMirror.cm-s-default {
  border: 1px solid rgb(204, 204, 204);
}

.common-admin-markdown-editor .custom-editor {
  width: 800px;
  height: 20vh;
  background: white;
}

.form-group[data-out-attr-name='notes'] {
  vertical-align: top;
  display: block;
}

.admin-title {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 47px;
}

.admin-help-icon {
  float: right;
}

.password-expired {
  color: gray;
}

.admin-field- {
  min-width: 60px;
}

.admin-result-index {
  td,
  th {
    min-width: 60px;
  }
}

.admin-edit-form .form-group,
.admin-edit-form .form-text-area-group {
  label {
    display: block;
  }

  input[type='checkbox'] + label,
  input[type='radio'] + label {
    display: inline-block;
  }
}

.admin-edit-form .form-text-area-group {
  margin: 0 10px 8px;
  min-width: 400px;
}

.admin-edit-form .form-group[data-out-attr-name='description'] {
  display: block;
}

.admin-flex-block {
  display: flex;
  align-items: stretch;
}

@media only screen and (max-width: 600px) {
  .admin-flex-block {
    display: block;
  }
}

.label-help-icon {
  color: gray;
}

#admin_user_access_control_resource_name {
  width: 30em;
}

#admin_role_description_name {
  width: 30em;
}

.form-group[data-out-attr-name='name'] {
  display: block;
}

.app-configuration-value-block {
  min-width: 300px
}

.info-danger {
  color: #cc0000;
}

div#creddocframe {
  border: 1px solid rgb(128, 128, 128);
  padding: 10px;
  margin: 10px;
  background: rgb(255, 255, 255);
}

.admin-panel-components {
  ul {
    list-style: none;
    padding-left: 0.3em;
  }
} 

.tall-admin-editor {
  width: 800px;
  height: 73vh;
  
  .custom-editor-container {
    height: 73vh;
  
    .custom-editor {
      height: 73vh;
    }
}
}

.admin-item-admin-links a {
  display: inline-block;
  margin-right: 1em;
}

.admin-item-admin-infos span {
  color: gray;
}

.nothing-admin-authed {
  color: gray;
  font-style: italic;

}

a.link-disabled {
  color: gray;
}


.admin-action-page {
  position: relative;
  overflow: visible;
}

#components-menu-button {
  top: 30px;
  position: absolute;
}

.components-menu-block {
  top: 103px;
  position: absolute;
  left: 0;
}

.components-menu {
  max-width: 450px;
  background: white;
  padding: 4px;
  position: absolute;
  z-index: 2000;
  min-width: 300px;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.15);
}

.admin-sample-field-info, .admin-sample-form-info{
  color: gray;
  font-family: 'Courier New', Courier, monospace;
}

.admin-sample-form-info {
  margin-left: 8px;
  margin-top: 3px;
}

.caption-before .admin-sample-field-info{
  font-size: 96%;
}

.dialog-before .admin-sample-field-info {
  font-size: 90%;
}