.admin-index-page,
.admin-user-index-page {
  border-color: silver;
  .nav > li > a {
    padding: 10px 1px;
  }
}

.admin-edit-form .well {
  background: rgb(245, 245, 245);
}

a > .caret {
  visibility: visible;
  transform: rotate(180deg);
}

a.collapsed > .caret {
  visibility: visible;
  transform: none;
}

.CodeMirror.cm-s-default {
  border: 1px solid rgb(204, 204, 204);
}

.common-admin-markdown-editor .custom-editor {
  width: 800px;
  height: 40vh;
  background: white;
}

.form-group[data-out-attr-name="notes"] {
  vertical-align: top;
}

.admin-title {
  padding-left: 15px;
  padding-right: 15px;
}

.admin-help-icon {
  float: right;
}

.password-expired {
  color: gray;
}

.admin-field- {
  min-width: 60px;
}

.admin-result-index {
  td,
  th {
    min-width: 60px;
  }
}

.admin-edit-form .form-group,
.admin-edit-form .form-text-area-group {
  label {
    display: block;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block;
  }
}

.admin-edit-form .form-text-area-group {
  margin: 0 10px 8px;
  min-width: 400px;
}

.admin-edit-form .form-group[data-out-attr-name="description"] {
  display: block;
}

.admin-flex-block {
  display: flex;
  align-items: stretch;
}

.make-sortable {
  padding: 10px 0;

  .sortable-block {
    > * {
      margin: 4px;
      display: block;
    }

    > *:before {
      content: "\e119";
      margin-right: 0.8em;
      color: rgb(128, 128, 128);
      display: inline-block;
      font-family: "Glyphicons Halflings";
      font-size: 10px;
    }

    > *:hover {
      cursor: pointer;
    }
  }

  .sortable-block-trash {
    min-height: 30px;
    background-color: rgb(212, 212, 212);
    padding: 4px;
    &:before {
      content: "(drop here to remove)";
      font-size: 11px;
      color: gray;
      padding: 0 1em;
      display: inline-block;
    }
    > *:hover {
      cursor: pointer;
    }
  }

  .sortable-add-item {
    height: 20px;
    line-height: 18px;
    padding: 0 5px;
    font-weight: bold;
  }
  .sortable-add-item-text {
    width: 30em;
    font-size: 12px;
    font-family: monospace;
    line-height: 1.3;
    padding: 2px;
    height: 20px;
    display: inline-block;
  }
}
