.server-info-settings {
  margin: 2em;
  .setting-value {
    padding: 0.3em 1em;
    font-family: monospace;
    max-width: 70%;
    word-break: break-all;
  }
  .setting-key {
    font-weight: bold;
    padding: 0.3em 1em;
    font-family: monospace;
  }
}

// BEM-named classes for rails log viewer
.rails-log { 

  &__row {
    margin: 0;
  }

  &__code-container {
    width: auto;
    display: block;
    margin: 20px;
    font-family: monospace;
    font-size: 94%;
  }

  &__listing {
    width: auto;
    white-space: pre-wrap;
    margin-bottom: 0;
  }

  &__common-searches {
    margin-top: 1em;
  }
}