<div class="form-group" style="vertical-align: top">
  <label>Extra Log Options</label>
  <% 
  example = OptionConfigs::ActivityLogOptions.top_level_defs
  example = example.merge('extras_log_type_name' => OptionConfigs::ActivityLogOptions.attr_defs.deep_stringify_keys)
  %>
  <div class="al-options-ref-textarea-block">
    <textarea style="font-size: 12px" class="extra-help-info">
<%= example.to_yaml %>
    </textarea>
  </div>
</div>