.modal-dialog.modal-lg.embedded-dynamic-block {
  min-width: 60%;

  .modal-header {
    display: none;
  }

  .modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .modal-body {
    padding: 0;
  }

  .modal-footer {
    border-top: 0;
    background: white;
    box-shadow: 0 2px 3px 1px rbga(0,0,0,0.1);
    border-radius: 4px;
    border: 1px solid silver;
    margin-bottom: 12px;
  }

  ul.list-group {
    background: white;
  }

  .is-heading {
    a.edit-entity {
      position: fixed;
      top: 10px;
      right: 32px;
      z-index: 100;
    }
  }

  .edit-form-header {
    a.show-entity {
      position: fixed;
      top: 10px;
      right: 32px;
      z-index: 100;
    }
  }

  .submit-action-container input[type="submit"] {
    position: fixed;
    bottom: 15px;
    right: 85px;
    z-index: 100;
  }

  .inline-cancel {
    display: none;
  }
}

a.add-item-button > span:after {
  font-family: var(--button-font-family);
  padding-left: 0.2em;
  vertical-align: middle;
  font-size: 15px;
}

#standalone-page>.standalone-page-container span.temp-new-embedded-block a.add-item-button {
  color: white;
  font-size: 18px;
  font-weight: bold;

  &:link,
  &:visited,
  &:active {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}