#filter-accordion {
  padding: 0 15px;
  .panel-default {
    margin-top: 6px;
  }

  .filter-small-gap {
    height: 6px;
    margin: 0;
  }

  .btn-sm {
    margin-bottom: 4px;
  }
}

.extra-admin-controls {
  margin: 0 15px;
  .panel-body {
    padding: 4px 15px;
  }
}

.admin-head-blocks {
  margin: 0 15px 15px;

  .admin-head-block {
    padding: 0 20px 10px;
  }
}
