@keyframes button-working {
  100% {
    background: rgba(218, 218, 218, 0.25);
  }
  50% {
    background: rgba(218, 218, 218, 0.75);
  }
  0% {
    background: rgba(218, 218, 218, 0.45);
  }
}

input[type="submit"],
button {
  &.ajax-clicked-running {
    animation: button-working 1s ease-in-out infinite;
  }
}

.form-control {
  padding-left: 4px;
  padding-right: 4px;
}

form .full-width input.form-control {
  width: 100% !important;
}

.tt-menu {
  border: 1px solid silver;
  width: 100%;
  padding: 4px;
  background-color: #eee;
}
.tt-menu:hover {
  cursor: pointer;
}

.twitter-typeahead {
  width: 100%;
  min-width: 100px;
}

.form-inline .twitter-typeahead {
  width: auto;
}

form select {
  width: 100%;
  height: auto;
  padding: 4px 0px;
  line-height: 22px;
  max-width: 100%;
}

#master_results_block form {
  select {
    width: initial;
    background-color: white;
    border-radius: 3px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0;
  }
}

form.search_master {
  label {
    white-space: nowrap;
  }

  .form-group select {
    width: 100%;
    height: auto;
    padding: 6px 0px;
    line-height: 22px;
  }
}

form .form-group select {
  width: inherit;
  padding: 4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: inherit;

  &.form-control {
    line-height: inherit;
  }
}

input[type="date"] {
  min-width: 10em;
}

input[type="date"].attached-datepicker {
  color: rgba(0, 0, 0, 0);

  &.date-is-local {
    color: inherit;
  }
}

.datepicker-dropdown {
  z-index: 21000 !important;
}

li.list-group-item.placeholder-field-item {
  display: none !important;
}

.fixed-field {
  position: relative;
  input.form-control.has-value,
  select.form-control.has-value,
  input.form-control,
  select.form-control {
    background: none !important;
    background-color: transparent !important;
    border: 0;
    box-shadow: none;
    font-weight: bold;
  }

  .fixed-field-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: 1200;
  }
}

li.list-group-item label {
  font-size: 85%;
}

// .showed-caption-before label {display: none !important;}

.caption-before,
.dialog-before {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4 {
    &:first-child {
      margin-top: 0.2em;
    }
  }
}

.placeholder-caption-before:empty {
  display: none !important;
}

.make-labels-placeholders .done-label-resize input[placeholder] {
  width: 100%;

  option.select-option-placeholder {
    color: rgb(128, 128, 128);
  }
}

::placeholder {
  color: rgb(128, 128, 128) !important;
}

.form-inline .row > div {
  text-align: right;
  div.form-group {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

select[multiple] {
  height: 30px;
  option {
    display: none;
  }
}

div.chosen-container.chosen-disabled {
  opacity: 1 !important;
  li.search-choice {
    padding-right: 5px;
    background: white;
  }
  a.search-choice-close {
    display: none !important;
  }
}


div.chosen-container .chosen-results{
  li.group-result.group-result-disabled,
  li.group-option.disabled-result {
    display: none;
  }
}

form .tracker-notes textarea.form-control {
  width: 90%;
}

a.add-icon {
  margin-left: 0.3em;
  color: silver;
}

.tracker-search-field {
  color: var(--project-color);
  select {
    border-color: var(--project-color);
    color: var(--project-color);
  }

  &.has-warning select {
    color: #c00;
    option {
      color: var(--project-color);
    }
  }
}

textarea#player_info_notes {
  width: 100%;
  height: 8em;
}

.ws-popover-opener {
  background-color: transparent;
}

li.player-info-college span.twitter-typeahead {
  width: 100%;
}

form.search_master label {
  font-weight: normal;
  font-size: 12px;
  white-space: normal;
}

form.search_master label.nowrap {
  white-space: nowrap;
}
a.add-icon {
  z-index: 5;
  position: relative;
}

#master-search-accordion .panel-default {
  border: 0;
  box-shadow: none;
  margin-top: 0px;
}

#master-search-accordion .panel-collapse.collapse.in {
  box-shadow: silver 0px 2px 4px;
  border: 1px solid rgb(192, 192, 192);
  margin-bottom: 6px;
  border-radius: 4px;
}

.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: gray;
  border-color: gray;

  &:hover,
  &:active,
  &:link {
    background-color: gray;
    border-color: gray;
  }
}

.advanced-form-selections {
  line-height: 2.8;

  .btn {
    color: var(--project-color);
    background: white;
    &:active {
      color: var(--link-active-color);
    }

    &.collapsed {
      background: var(--project-color);
      color: white;
    }
    &.collapsed:active {
      color: white;
    }
  }
}

.label-resizer {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

li.list-group-item.result-field-container,
li.list-group-item.edit-field-container {
  visibility: hidden;
  &.done-label-resize,
  &.done-label-resize strong,
  &.has-caption-before,
  &.has-caption-before strong {
    visibility: visible;
  }
}

li.list-group-item.dialog-before {
  background: rgb(243, 243, 243);
}

li.list-group-item small.notes-block-label {
  display: block;
  position: relative !important;
}

input[type="checkbox"] {
  height: auto;
  margin-bottom: 6px;
}

fieldset.readonly-edit-fieldset {
  li.list-group-item.edit-field-container {
    padding-top: 4px;
    padding-bottom: 4px;

    label {
      font-weight: normal;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  input.form-control,
  select.form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    min-width: 100px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 4px;
    background-image: none;
    font-weight: bold;
    font-size: 14px;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  span.fixed-field {
    font-weight: bold;
    font-size: 14px;
  }

  select.form-control {
    width: 100%;
  }
  textarea.form-control {
    min-height: 1em;
    height: auto;
    margin: 0;
    border: 0;
    box-shadow: none;
    font-size: 12px;
    padding: 2px 2px;
    min-width: 200px;
    width: 97%;

    &:focus {
      height: auto !important;
    }
  }
  input[type="checkbox"] {
    border: 1px solid silver;
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
    box-sizing: border-box;

    padding: 0;
    line-height: normal;
    display: inline-block;

    width: 1em;
    height: 1em;

    vertical-align: middle;
    color: #444;
  }

  select,
  input {
    &.form-control.has-value {
      background-color: white !important;
      background-image: none;
    }
  }

  select {
    &.form-control.has-value {
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }
  select::-ms-expand {
    display: none;
  }
}

.list-group-item {
  .button-radio[data-attr-name$="_blank_yes_no"]:first-of-type {
    display: none;
  }
  .button-radio[data-attr-name$="_blank_no_yes"]:first-of-type {
    display: none;
  }
  .button-radio[data-attr-name$="_blank_yes_no_dont_know"]:first-of-type {
    display: none;
  }
  .button-radio[data-attr-name$="_blank_no_yes_dont_know"]:first-of-type {
    display: none;
  }
}

.list-group-item {
  &.save-the-form-ref-message,
  &.ref-new-edit {
    display: none;
  }
}

// Override labels for simple items in a JSON object field
.view-object li.list-group-item small.ctlabel {
  position: relative;
  margin-right: 1em;
}

.edit-field-container.done-label-resize {
  input[type="text"],
  input[type="email"],
  input[type="url"] {
    &.form-control:first-child {
      width: 100%;

      // Overrides
      &.time-entry {
        width: auto;
      }
    }
  }
}

.model-ref-remove-form {
  .form-group {
    margin-bottom: 0;
  }
  .model-ref-remove-btn {
    padding: 1px 6px;
    margin-top: -2px;
  }
}

.selectable-model-reference-result-action-form {
  margin-right: 0;
  position: absolute;
  display: inline-block;
  right: 15px;
}

.selectable-model-reference-result-action-form:empty {
  display: none;
}

.custom-editor-container {
  // min-width: 200px;

  a[data-edit],
  a.btn-wysiwyg-tb {
    font-size: 12px;
    line-height: 16px;
    height: 26px;
  }
}

.custom-editor,
.custom-editor-viewer {
  font-size: 14px;

  div {
    margin: 0 0 10px;
  }

  ol {
    list-style-type: decimal;
    padding-inline-end: 40px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: disc;
    padding-inline-end: 40px;
    margin-bottom: 10px;
  }

  h1 {
    margin-top: 10px;
    font-size: 22px;
  }

  h2 {
    margin-top: 6px;
    font-size: 18px;
  }

  h3 {
    margin-top: 6px;
    font-size: 16px;
  }

  h4 {
    margin-top: 5px;
    font-size: 14px;
  }

  blockquote {
    padding: 0 0 10px 25px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: none;
  }

  th,
  td {
    padding: 0.2em 0.6em;
  }
}

.custom-editor,
.custom-editor[contenteditable="true"] {
  border: 1px solid rgb(192, 192, 192);
  padding: 5px 5px 10px 5px !important;
  min-height: 40px;
  max-height: 80vh;
  overflow-y: auto;

  &:focus {
    outline: none;
  }
}

.import-grid {
  .custom-editor {
    border: none;
  }
}

.changed-field-danger {  
  border-color: #cc0000;
}

#master_results_block form select.no-child-items {
  background-color: rgb(243, 243, 243);
}

.flex-captions ul.list-group {
  display: flex;
  flex-wrap: wrap;

  .result-notes-container,
  .edit_notes_field,
  .browse-container {
    width: 100%;
  }

  .object-results-header,
  .edit-form-header,
  .is-full-width {
    width: 100%;
  }
}

@media only screen and (min-width: 1180px) {
  form.search_master label {
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 1400px) {
  form.search_master label {
    font-weight: bold;
    font-size: 13px;
  }
}
