.import-action-container {
  margin: 30px 30px 0 30px;
}

.import-form-actions {
  margin: 12px 30px;
}

.bottom-tab {
  background-color: #e6e6e6;
  padding: 8px;
  color: #333;

  &.show-blank-rows {
    display: none;
  }

  &.hide-blank-rows {
    display: inline-block;
  }
}
.upload-not-completed,
.import-has-no-user {
  color: gray;
  font-style: italic;
}

.import-filename {
  font-family: monospace;
  font-size: 14px;
}

.dynamic-details-upload {
  margin-top: 1em;

  .upload-failed {
    font-weight: bold;
    color: rgb(107, 0, 0);
  }
}
