.page-embedded-block .result-target-resource {

  &:not(.keep-activity-sublist-log-controls) {
    .sublist-controls {
        display: none;
    }

  }

  &:not(.keep-activity-log-section-panel-header) {
    .section-panel-header {
        display: none;
    }

  }

  &:not(.keep-activity-log-header) {
    .activity-logs-header .list-group-item-heading {
      display: none;
    }
  }

  &:not(.keep-activity-log-action-controls) {
    .activity-logs-header .action-buttons,
      .new-blocks-container {
        display: none;
      }
  }
}