.reports-index .data-results {
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 1px #e9e9e9;
}

// .report-results-outer .report-results-block {
//   // background: rgb(255, 255, 255);
//   // border: 1px solid rgb(219, 219, 219);
// }

.back-to-search-form-btn,
.show-results-btn {
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
}

tr.report-auto {
  background-color: #fffadf;
}

.report-search-attr {
  .attr-label {
    color: gray;
    padding-right: 10px;
  }
  .attr-val {
    color: black;
  }
}

.hover-link {
  color: #0063a6;
  &:hover {
    cursor: pointer;
    color: #09c;
  }
  &:hover:after {
    content: "\e066";
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-size: 80%;
    padding-left: 0.4em;
    margin-right: -1.6em;
  }
}

body.reports.table-results {
  overflow-x: hidden;
}

.report-chart {
  position: relative !important;
}

.item-selected {
  background-color: #fffadf;
}

.btn.add-btn {
  position: absolute;
  top: 1.8em;
  right: 0.48em;
}

.report-edit-submit,
.report-edit-cancel {
  font-size: 10px;
  padding: 2px 4px;
  margin: 0 2px;
}

.report-edit-form {
  display: none;
}

table.table.report-table .report-el.report-el-object-id {
  width: 10em;
  background-color: #eee;
}

#report-item-new a.edit-entity {
  display: none;
}

.report-new-item-btn {
  font-size: 10px;
  margin: 0;
  padding: 2px 3px;
}

p.small.report-table-name {
  max-width: 70px;
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
}

.report-measure {
  font-weight: bold;
}

.report-files-actions {
  margin-bottom: 4px;
  display: block;
  min-width: 100px;
  text-align: left;

  input[type="submit"] {
    margin-bottom: 4px;
  }

  #report-select-all-files {
    vertical-align: text-bottom;
  }

  label {
    padding-left: 6px;
    vertical-align: bottom;
  }
}

.report-files-actions-btn {
  margin-bottom: 4px;
  display: block;
}

.report-criteria-block {
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 4px 2px #e4e4e4;
  padding-bottom: 0;
}

.search_report {
  input.form-control, select.form-control {
    height: 29px;
    padding: 4px;
  }

  .chosen-container-multi .chosen-choices {
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: none;
    background: white;
  }
}

td[data-col-type^="perform action:"],
td[data-col-type^="select items:"],
td[data-col-type^="search_reports_"] {
  color: rgba(255, 255, 255, 0);
  -webkit-animation: working 1s ease-in-out infinite;
  -moz-animation: working 1s ease-in-out infinite;
  animation: working 1s ease-in-out infinite;

  &:before {
    color: silver;
    content: "loading...";
  }

  &.attached_report_search,
  &.attached_report_perform_action,
  &.attached_report_select_items {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    color: inherit;
    &:before {
      content: "";
    }
  }
}

textarea.admin-clean-sql {
  width: 100%;
  height: 20vh;
}

.rep-sel-action-update-list {
  display: none;
}

#protocols-list,
#gs-list,
#if-list,
#as-list,
#report-table-list {
  li {
    font-family: monospace;
    font-size: 94%;
  }
}

.ref-table-item {
  list-style: none;
  a {
    font-weight: bold;
    font-family: monospace;
    font-size: 94%;
    text-decoration: none;
  }
}

.ref-table-col-item {
  list-style: none;
  span {
    font-family: monospace;
    font-size: 94%;
  }
}

.table-comment.help-block,
.column-comment.help-block {
  font-size: 94%;
  padding: 0.4em;
  background: rgb(250, 250, 250);
  display: block;
  margin-left: 1em;
  white-space: pre;
}

.ref-table-col-item {
  .column-fk {
    color: gray;
    font-size: 90%;
  }

  .ref-table-column-name {
    color: gray;
    font-size: 90%;
  }
}

.glyphicon {
  font-family: "Glyphicons Halflings" !important;
}

.report-column-comment {
  font-weight: normal;
  font-family: var(--table-head-font);
  font-size: var(--table-head-font-size);
}

.report-column-attribs {
  .domain {
    font-weight: bold;
    font-style: italic;
  }
}

th.has-comment {
  min-width: 185px;
}

.admin-report-info-block .tab-content {
  background-color: white;
  padding: 1em;
  border: 1px solid rgb(221, 221, 221);
  border-top: 0;
}

.reference_data .tab-content {
  background-color: white;
  padding: 1em;
  border: 1px solid rgb(221, 221, 221);
  border-top: 0;
}

.report-options-ref-textarea-block {
  width: 700px;
  height: 60vh;
  background-color: rgb(241, 241, 241);
}

.filter-prev-attr-value {
  font-weight: bold;
}

.filter-prev-report-link {
  font-weight: bold;
}

.report-results-row {
  // background-color: #eee;
}

table.table.report-table {
  td pre.expanded {
    width: 100%;
    overflow-x: auto;
  }
  td[data-col-var-type="Array"] > ul {
    padding-inline-start: 16px;
  }
}

table .report-cb-inner {
  text-align: center;
}

.multivalue-field-add {
  height: 27px;
  width: 27px;
  padding: 4px 0;
}

.report-sel-item-ind label {
  display: inline-block;
  margin-left: 0.8em;
}

.link-to-report {
  position: absolute;
  right: 6%;
  margin-top: -3.5em;
}

.iframe-report-cell {
  width: 100%;
  height: 400px;
  background: white;
  border: 1px solid gray;

}


// Use this to rotate column labels by using the view_options: add_classes option
.report-label-rotate {
  th {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
  }
}