#standalone-page {
  .report-results-inner {
    overflow-x: auto;
    overflow-y: auto;
    height: auto;
  }
}

.standalone-page-row {
  margin-bottom: 2%;
}

.standalone-page-col {
  .result-target {
    margin: 5px;
  }

  .sp-col-label {
    text-align: center;
  }
}
