div.reset-row,
.standalone-page-design .custom-editor,
.standalone-page-design .custom-editor-viewer {
  .nfs-store--manage--container-data {
    display: none;
  }

  img {
    max-width: 100%;
  }

  .caption-before,
  .ctlabel {
    display: none;
  }

  hr {
    border-top: 3px solid rgb(213, 213, 213);
    float: none;
    clear: both;
  }

  .common-template-item {
    div,
    ul,
    li,
    h1,
    h2,
    h3,
    h4 {
      border: 0;
      box-shadow: none;
      background: transparent;
      margin: 0;
      padding: 0;
      height: auto;
      width: auto;
      float: none;
      overflow: hidden;
    }
  }
  div,
  ul,
  li,
  h1,
  h2,
  h3,
  h4 {
    border: 0;
    box-shadow: none;
    background: transparent;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    float: none;
  }

  .list-group-item.is-heading.object-results-header {
    display: none;
  }

  li[data-field-name="default_layout"],
  li[data-field-name="position_number"],
  li[data-field-name="slug"],
  li[data-field-name="block_width"],
  li[data-field-name="extra_classes"],
  li[data-field-name="tag_select_allow_roles_access"],
  li[data-field-name="disabled"] {
    display: none;
  }

  p br {
    display: block;
    content: "";
    margin-top: 0.8em;
    line-height: 190%;
    vertical-align: top;
  }

  .standalone-page-col .result-target {
    margin: 0;
  }

  .message-well {
    background: rgb(245, 245, 245);
    border-color: #dcdcdc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);  
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 14px;
  }
}

div.reset-row,
.standalone-page-design {
  .custom-editor,
  .custom-editor-viewer,
  .default-layout-rows,
  .default-layout-columns,
  .default-layout-one-column,
  .default-layout-two-columns,
  .default-layout-three-columns {
    font-size: 16px;
    h1 {
      font-size: 44px;
      line-height: 130%;
    }

    h2 {
      font-size: 30px;
      line-height: 130%;
    }

    h3 {
      font-size: 26px;
      line-height: 130%;
    }

    h4 {
      font-size: 22px;
      line-height: 130%;
    }

    .page-item-container {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }
    .main-item {
      width: 100%;

      li[data-field-name="title"],
      li[data-field-name="description"] {
        display: none;
      }
    }

    em {
      padding-right: 0.15em;
    }

    .embedded-items-item {
      flex-grow: 1;
      li[data-field-name="title"] {
        display: none;
      }
    }

    table.table {
      width: auto;
      min-width: 25%;
      background: rgb(239, 239, 239);
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .notes-block.notes-empty .notes-text:before {
      content: "";
    }
  }

  .default-layout-rows {
    &.common-page-template-item {
      margin: 0 14%;
      width: auto;
      float: none;
    }

    // .page-item-container {
    //   display: block;
    // }
  }
  .default-layout-columns,
  .default-layout-one-column,
  .default-layout-two-columns,
  .default-layout-three-columns {
    &.common-page-template-item {
      margin: 0 7%;
      width: auto;
      float: none;
    }
  }

  .notes-text {
    > ol,
    > ul {
      padding-inline-end: 40px;
      margin-bottom: 2.4em;
      padding-left: 0;
    }
  }

  .headers-left .notes-text {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    h1,
    h2,
    h3,
    h4 {
      width: 37%;
      margin-right: 2%;
    }

    p,
    ul {
      width: 60%;
    }

    > ul {
      margin-bottom: 3em;
    }

    > ul > li > ul,
    > ul > li > ol {
      margin-bottom: 2em;
    }

    > ul > li {
      list-style: none;
      min-height: 1.6em;

      > ul > li {
        list-style-type: disc;
        list-style-position: outside;
        margin-left: 1.6em;
      }

      > ol > li {
        list-style-type: decimal;
        list-style-position: outside;
        margin-left: 1.6em;
      }
    }

    h1 + p,
    h2 + p,
    h3 + p,
    h4 + p {
      margin-bottom: 1.5em;
    }

    .notes-text th,
    .notes-text tr {
      word-break: normal;
      vertical-align: top;
    }
  }

  .standalone-page-design .custom-editor,
  .standalone-page-design .custom-editor-viewer,
  .default-layout-columns .embedded-items-item,
  .common-template-item div.browse-container {
    padding: 0.4em 2% 1.5em;
    h1,
    h2,
    h3,
    h4 {
      margin-bottom: 0.67em;
    }

    .notes-text th,
    .notes-text tr {
      word-break: normal;
      vertical-align: top;
    }
  }

  .embedded-items-item.option-type-attachments {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 3px 3px 0px #d6d6d6;
    margin: 0.4em 0 1.2em;

    // h1,
    // h2 {
    //   border-bottom: 1px rgb(221, 221, 221) solid;
    //   padding-bottom: 0.3em;
    // }
  }

  .default-layout-rows .page-item-container {
    flex-flow: column;
    .embedded-items-item {
      flex-shrink: 1;
      flex-grow: 0;
    }
  }
}

#standalone-page > .standalone-page-container {
  .icon-files-center .container-icons-folder-items {
    justify-content: center;
  }
  .icon-files-center .container-icons-entry .browse-entry-classifications .bem-class-title {
    margin-right: 0;
  }

  .hide-file-browser {
    display: none;
  }

  .notes-empty {
    display: none;
  }

  .no-border {
    border: 0;
    box-shadow: none;
  }

  .no-background {
    background-color: transparent;
  }
}

div.reset-row,
.standalone-page-design {
  .custom-editor,
  .custom-editor-viewer {
    > ol,
    > ul {
      padding-inline-end: 40px;
      margin-bottom: 10px;
      padding-left: 0;
    }

    ul li,
    ul ul {
      list-style-position: outside;
      list-style-type: disc;
      margin-left: 1.6em;
      overflow: visible;
    }

    ol li,
    ol ol {
      list-style-position: outside;
      list-style-type: decimal;
      margin-left: 1.6em;
      overflow: visible;
    }

    img {
      background: silver;
      height: 1em;
      width: 1em;
      border-radius: 50%;
    }

    img.loaded-image {
      height: auto;
      width: auto;
      background: transparent;
      border-radius: unset;
    }

    img.broken-image {
      opacity: 0;
    }
  }

  .edit-field-container .custom-editor {
    font-size: 16px;
  }

  p {
    min-height: 1.6em;
  }

  .ei-item-footer {
    ul li,
    ul ul {
      list-style-position: inside;
      list-style-type: none;
      margin-left: 0;
      overflow: hidden;
    }
  }
}

.standalone-page-design .custom-editor,
.standalone-page-design .custom-editor-viewer {
  img.broken-image {
    opacity: 100;
  }
}

@media (max-width: 767px) {
  div.reset-row .standalone-page-design {
    .custom-editor,
    .custom-editor-viewer {
      font-size: 20px;

      padding: 0.4em 1em 1em;
    }
  }
  div.reset-row,
  .standalone-page-design {
    .default-layout-rows,
    .default-layout-columns,
    .default-layout-one-column,
    .default-layout-two-columns,
    .default-layout-three-columns {
      &.common-page-template-item {
        margin: 0 1%;
      }
    }

    .custom-editor,
    .custom-editor-viewer,
    .default-layout-rows,
    .default-layout-columns,
    .default-layout-one-column,
    .default-layout-two-columns,
    .default-layout-three-columns {
      font-size: 18px;

      .notes-text,
      .embedded-items-item {
        width: auto !important;
      }

      .notes-text {
        font-size: 18px;
      }

      h1 {
        font-size: 48px;
      }

      h2 {
        font-size: 34px;
      }

      h3 {
        font-size: 28px;
      }

      h4 {
        font-size: 24px;
      }

      .edit-field-container .custom-editor {
        font-size: 20px;
      }
    }

    .default-layout-rows {
      .notes-text,
      .embedded-items-item {
        width: 100% !important;
      }
    }
  }
}

.standalone-page-design,
.reset-row .common-template-item.common-page-template-item {
  .center-column {
    margin: 0 auto;
  }

  .column-3 {
    max-width: 300px;
  }

  .column-4 {
    max-width: 400px;
  }

  .column-6 {
    max-width: 600px;
  }

  .column-8 {
    max-width: 800px;
  }

  .column-9 {
    max-width: 900px;
  }

  .column-12 {
    max-width: 1200px;
  }
}

.standalone-page-design,
div.reset-row {
  .float-images-left {
    .custom-editor img,
    .custom-editor-viewer img {
      @media (min-width: 485px) {
        float: left;
        margin-right: 22px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }

  .photo-borders {
    .custom-editor img,
    .custom-editor-viewer img {
      padding: 4px;
      border: solid silver 1px;
    }
  }

  .image-screenshots { 
    .custom-editor img.loaded-image,
    .custom-editor-viewer img.loaded-image {
      max-width: 800px;
      box-shadow: 2px 2px 4px silver;
      border: 1px solid rgb(192, 192, 192);
      display: block;
      margin: 17px auto;
    }
  }

  .table-header-hide thead {
    display: none;
  }

  .table-center table.table {
    margin: 1em auto;
  }

  .list-workflow .custom-editor-viewer
  {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    ul li {
      display: flex;
      align-items: center;
      min-height: 100px;
      width: 150px;
      background: rgb(40, 91, 129);
      color: white;
      vertical-align: middle;
      border-radius: 5px 60px 60px 5px;
      padding: 20px 20px 20px 15px;
      margin: 10px;
      text-align: left;
      flex-shrink: 0;
      font-size: 16px
    }

    ul li strong {
      width: 100%;
    }
    ul li a {
      color: white;
    }
  }
  

  .h1-center h1 {
    text-align: center
  }

  .h2-center h2 {
    text-align: center;
  }

  .h3-center h3 {
    text-align: center;
  }
  
  .h3-center h4 {
    text-align: center;
  }
}

.page-embedded-block {
  .custom-editor {
    border: 1px solid #cccccc;
    margin-bottom: 18px;
  }
}


#help-sidebar-body {

  div.reset-row .default-layout-rows.common-page-template-item,
  .standalone-page-design .default-layout-rows.common-page-template-item {
    margin: 0;
    width: auto;
    float: none;
  }
}

.standalone-page-design {
  .model-reference-result.multi-model-reference-result.is-in-show-viewable.mrblock-activity-log--study-info-part.mrblock-extra-log-type-attachments.hidden {
    display: block !important;
  
    .model-reference-result.use-secure-view-on-links-setup.sv-added-setup-links.hidden {
      display: block !important;
    }
  }
}