.import-edit-container,
.import-table-container,
.report-results-block {
  margin: 30px 30px 0 30px;
}

.import-edit-container {
  overflow: auto;
  max-height: 50vh;

  thead th {
    position: sticky;
    top: 0;
    z-index: 20;
    background: rgb(238, 238, 238);

    &:hover {
      cursor: pointer;
    }
  }
}

.import-edit-form,
.report-results-inner {
  width: auto;
  background-color: white;
}

.report-results-table-block {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  overflow-x: scroll;
}

#embed_results_block {
  .import-edit-form,
  .report-results-inner {
    height: auto;
  }
  .report-results-table-block {
    height: 73vh;
  }
}

#import-container.hide-blank-rows,
.report-container.hide-blank-rows {
  tr.blank-row {
    display: none;
  }

  tr.next-blank-row {
    display: table-row;
  }

  tr.final-blank-row {
    display: none;
  }

  .bottom-tab.hide-blank-rows {
    display: none;
  }

  .bottom-tab.show-blank-rows {
    display: inline-block;
  }
}

table.table.report-table {
  margin: 0;
}

table.import-grid,
table.table.report-table {
  tr.report-item-edit td {
    background-color: rgb(255, 255, 200);
    font-size: var(--table-font-size);

    .input-sm {
      font-size: var(--table-font-size);
    }
  }

  tr.report-item-edit td.report-el-disabled {
    background-color: #eee;
  }

  td select {
    line-height: normal;
  }
}

table.import-grid,
table.table.report-table {
  th,
  td.table-header,
  thead th.tablesorter-header {
    padding: 6px 8px 10px 8px;
    border: 1px solid silver;
    background-color: #eee;
    vertical-align: top;
    &[aria-sort="descending"],
    &[aria-sort="ascending"] {
      background-color: #ffb;
    }
  }

  td {
    padding: 0 0 0 4px;
    border: 1px solid silver;
    background-color: white;
    line-height: normal;
    font-size: var(--table-font-size);

    &.report-el-edit-type-boolean {
      text-align: center;
      line-height: 100%;
      vertical-align: middle;
    }

    &.report-el-was-from-new {
      display: none;
    }

    input.form-control,
    select.form-control {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      width: 100%;
      min-width: 100px;
      padding-right: 4px;
      background-image: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      &[type="checkbox"] {
        min-width: 1em;
      }
    }

    select.form-control {
      width: 100%;
    }
    textarea.form-control {
      height: 2em;
      margin: 0;
      border: 0;
      box-shadow: none;
      font-size: var(--table-font-size);
      padding: 2px 2px;
      min-width: 200px;
      width: 97%;

      // This breaks auto-grow
      // &:focus {
      //   height: auto !important;
      // }
    }
    input[type="checkbox"] {
      border: 1px solid silver;
      -moz-appearance: checkbox;
      -webkit-appearance: checkbox;
      box-sizing: border-box;

      padding: 0;
      line-height: normal;
      display: inline-block;

      width: 1em;
      height: 1em;

      vertical-align: middle;
      color: #444;
    }
  }

  .edit-entity {
    margin: 0;
  }

  select,
  input {
    &.form-control.has-value {
      background-color: white !important;
      background-image: none;
    }
  }

  select {
    &.form-control.has-value {
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }

  .import-link-item {
    position: relative;
    margin-bottom: -2em;
    margin-top: 0.4em;
  }

  tr:hover {
    background-color: #ffd;
    td {
      background-color: #ffd;
    }
  }

  tr.item-invalid {
    .form-control {
      color: red !important;
    }
  }

  td.row-num {
    background-color: #e6e6e6;
    font-size: var(--table-font-size);
    padding-right: 4px;
    text-align: center;
  }

  .report-el {
    padding: 8px 8px;
  }

  .report-item-edit {
    .report-el-edit-cell {
      padding: 0px 4px;
    }
  }

  .report-el.report-el-object-id {
    padding: 8px 8px;
  }

  .report-edit-btn-cell {
    padding: 4px 6px;
    min-width: 60px;
  }

  .report-edit-btn-cell.report-edit-btn-cell-editing {
    padding: 4px 4px;

    a.btn {
      top: 0;
    }
  }

  p.table-header-col-type {
    font-weight: normal;
    font-family: "Courier New", monospace;
    font-size: 13px;
  }

  ul.report-result-cell-tags {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }

  li.report-result-cell-tags {
    list-style: none;
    display: inline-block;
    background: rgb(225, 225, 225);
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid rgb(192, 192, 192);
    font-size: 90%;
    margin-right: 4px;
    line-height: 1em;
    margin-bottom: 4px;
  }
}

.transposed-table table.table.report-table {
  td {
    vertical-align: middle;
  }

  td.table-header {
    font-weight: 700;
    font-size: 14px;

    p.table-header-col-type {
      margin: 5px 0;
    }
  }
}

fieldset[disabled] {
  .form-control {
    background-color: inherit;
    cursor: default;
  }
  h3,
  h4 {
    color: gray;
  }
}

p.field-names {
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 16px;
}

table.table.tablesorter > thead > tr > th.no-sort.tablesorter-header:after {
  display: none;
}

table th.edit-button-column {
  width: 80px;
}

table.table.report-table {
  pre {
    position: relative;
    background-color: transparent;
    border: 0;

    &.expandable {
      border-bottom: 2px dotted gray;
    }

    &.expanded {
      border-bottom: 0;
    }
  }

  markdown {
    margin: 1em 0;
    display: block;
  }

  ul.report-inner-hash {
    list-style: none;
  }

  .expandable {
    max-height: 100px;
    padding-bottom: 20px;
    margin-bottom: 26px;
    display: block;
    overflow: hidden;
    border-bottom: 2px dotted gray;

    &:hover {
      cursor: s-resize;
    }

    &:after {
      content: "(click to expand)";
      font-size: 90%;
      font-weight: normal;
      font-style: italic;
      display: block;
      padding-top: 0;
      color: rgb(128, 128, 128);
      position: absolute;
      top: 76px;
      right: 0;
      background: rgb(245, 245, 245);
      margin-bottom: -20px;
    }
  }
  .expanded {
    max-height: none;
    border-bottom: 0;

    &:hover {
      cursor: n-resize;
    }
    &:after {
      display: none;
      //   content: "(click to shrink)";
      //   font-size: 90%;
      //   font-weight: normal;
      //   font-style: italic;
      //   position: absolute;
      //   top: 0px;
      //   right: 0;
    }
  }

  pre.shrinkable-block.expandable {
    max-width: 1300px;
  }
}

.tablesorter-header-inner:hover {
  max-height: none;
  overflow: initial;
}
.tablesorter-header-inner {
  max-height: 180px;
  overflow: hidden;
  margin-bottom: 10px;
}
