<button id="container-browse-download-<%=container_id%>" class="btn btn-primary container-browse-download" data-target-browser="#container-browser-<%=container_id%>">
  <span class="glyphicon glyphicon-cloud-download"></span> <span class="btn-caption">Download</span>
</button>
