<div class="container-browser-outer prevent-scroll" 
     data-sub-item="nfs_store_container" 
     data-sub-id="<%=container_id%>" 
     data-template="nfs-store-browse-list-results" 
     data-preprocessor="filestore_browser_form"      
     data-container-id="<%=container_id%>"
     data-folder="<%=folder%>"
     data-folder-level="<%=level%>"

>
  <div class="container-browser ajax-running">
  </div>
</div>
