<div data-subscription="nfs-store-container-list-items-<%=container_id%>" data-preprocessor="nfs_store_browse_list_results" class="container-browser-outer prevent-scroll" data-container-id="<%=container_id%>">
  <div class="container-browser ajax-running"></div>
</div>
