<script id="address_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{#was _created}}<div class="index-{{_created}}" id="address-{{master_id}}-{{id}}" data-subscription="address-edit-form-{{master_id}}-{{id}}"  data-sub-item="address" data-sub-id="{{id}}" data-preprocessor="address_edit_form" data-template="address-result-template" data-sort-desc="data-item-rank">{{/was}}
  <ul class="list-group" data-item-rank="{{rank}}" data-address-is-us="{{#is country 'us'}}true{{else is country ''}}true{{else is country null}}true{{else}}false{{/is}}">
      <li class="list-group-item is-heading">
        <a  data-toggle="scrollto-result" data-target="#address-{{master_id}}-{{id}}"title="edit" class="edit-entity edit-address pull-right glyphicon glyphicon-edit" href="/masters/{{master_id}}/addresses/{{this.id}}/edit" data-remote="true" data-player-id="{{this.id}}"></a>

        <span class="pull-right label label-info address-{{rank}}" style="margin-right:1em">{{#if rank}}{{rank}} - {{rank_name}}{{else}}(no rank){{/if}}</span>
        <h4 class="list-group-item-heading">Addresses</h4>                        
        
      </li>
      
      {{#filter this "country_name,street,street2,street3,city,state_name,zip,region,postal_code,source_name,rec_type" }}      
      <li class="list-group-item address-{{@key}}"><small>{{humanize @key}}</small> <strong>{{pretty_string this  return_string="true" capitalize="true"}}</strong></li>
      {{/filter}}
      
      <li class="list-group-item record-meta">{{>update_metadata}}</li>
  </ul>
  {{#was _created}}</div>{{/was}}
</script>

<script id="address-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with address}}
    
      {{>address_result }}
    
  {{/with}}
</script>
