<div class="report-details-section">
  <label>item type name</label>
  <p class="report-item-type">
    <%= @report.alt_resource_name %>
  </p>
  <label>path to report</label>
  <p class="report-item-type">
    <%=link_to report_path(@report.alt_resource_name), report_path(@report.alt_resource_name), target: '_blank', class: 'report-admin-report-path-link' %>
  </p>
  <label>options</label>
  <p class="report-item-options-test">
  <% if @report.report_options(fail_without_exception: true) %>
  valid
  <% else %>
  <span class="info-danger">invalid</span>
  <% end %>
  </p>
  <label>form criteria</label>
  <div class="well row">
  <%= render partial: 'admin/reports/form/admin_criteria_view' %>  
  </div>
</div>
<div class="report-config-options">
</div>
