<div class="" style="vertical-align: top">
  <label><%= @report.name %> Options</label>
  <% 
  example = OptionConfigs::ReportOptions.attr_defs
  %>
  <div class="admin-options-ref-textarea-block">
    <textarea style="font-size: 12px" class="extra-help-info">
<%= example %>
    </textarea>
  </div>
</div>
