<%%# By default the external id edit form is handled through a common template. To provide a customized form, copy the content of
#   "common_templates/external_id_edit_form.html.erb" here and edit freely %>
<%%= render partial: 'common_templates/external_id_edit_form' %>