      <h4>Data</h4>
      <% if object_instance.dynamic_storage&.dynamic_model_ready? %>
        <p><%= link_to 'retrieve records', request_records_redcap_project_admin_path(id: object_instance.id), method: :post, remote: true, class: 'btn btn-danger' %></p>
      <% else %>
        <p>The dynamic model has not been set up</p>
      <% end %>

      <%
        dm = object_instance.dynamic_storage&.dynamic_model
        if dm
          dmfl = dm.field_list 
          fl = object_instance.dynamic_storage.field_list

          dmfla = dm&.field_list.split(' ')
          fla = object_instance.dynamic_storage.field_list.split(' ')

      %>
      <p><label>dynamic model fields</label> <span><%= dmfl == fl ? 'match' : "mismatched: +[#{dmfla -fla}] -[#{fla -dmfla}]" %> </span></p>
      <%= link_to 'search table data', "/reports/reference_data__table_data?schema_name=#{dm.schema_name}&search_attrs%5B_blank%5D=true&table_name=#{dm.table_name}", target: '_blank' %>
      <% end %>