
<h4>REDCap Users</h4>
<% if object_instance.captured_project_info.present?%>
  <div class="admin-options-ref-users-block">
  <table class="table tablesorter admin-list">
  <thead><tr>
  <th>Username</th>
  <th>Email</th>
  <th>Expiration</th>
  </tr></thead>
  <tbody>
    <% object_instance.redcap_project_users.each do |pu| %>
      <tr>
      <td><%= pu.username %></td>
      <td><%= pu.email %></td>
      <td><%= pu.expiration %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </div>
<% else %>
  <p>Project Info Metadata not yet retrieved</p>
<% end %>
