.browse-move-to-folders {
  max-height: 50vh;
  height: 200px;
  overflow: auto;
  border: solid 1px rgb(228, 228, 228);
  margin-bottom: 8px;
}

.container-list-items,
.browse-move-to-folders {
  input[type="checkbox"] {
    cursor: pointer;
    vertical-align: top;
  }

  input.container-new-folder-name {
    font-weight: normal;
  }

  a.container-add {
    margin-left: 1em;
  }

  .glyphicon-folder-close,
  .glyphicon-folder-open {
    cursor: pointer;
    vertical-align: baseline;
    color: #cf9c13;
  }

  .glyphicon-info-sign {
    color: gray;
  }

  .root-folder {
    .glyphicon-folder-close,
    .glyphicon-folder-open {
      color: #3db553;
    }
  }

  &,
  ul {
    list-style-type: none;
    padding-left: 1.5em;
    li {
      list-style-type: none;
      white-space: nowrap;
    }
  }

  .container-entry {
    white-space: nowrap;
  }

  .container-entry.checked {
    font-weight: bold;
  }

  .container-folder.checked {
    font-weight: bold;
  }

  .container-folder {
    .file-archive-tag {
      font-style: italic;
      color: gray;
      padding-left: 0.6em;
    }
  }

  .container-entry {
    .file-processing-tag {
      font-style: italic;
      color: gray;
      padding-left: 0.6em;
    }
  }

  .container-list-file-count {
    font-style: italic;
    color: gray;
  }
}

.container-browser {
  display: block;
  position: relative;
  max-height: 60vh;
  min-height: 50px;
  overflow: auto;
  margin-bottom: 10px;
  border: 1px solid silver;
  border-radius: 3px;

  padding: 10px;
}

.container-browser.ajax-running {
  .container-list-items,
  .no-container-list-items {
    filter: blur(2px);
  }

  &.ajax-running form.new_download {
    overflow: hidden;
  }
}

.container-entry {
  &:hover {
    background-color: rgb(251, 254, 177);
    .browse-filename {
      background-color: rgba(251, 254, 177, 0.8);
    }
  }

  .browse-filename {
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 0.5em;
    padding-right: 1em;
  }
  .browse-filename:hover {
    background-color: rgba(251, 254, 177, 0.8);
  }

  .browse-entry-meta:hover {
    background-color: rgba(251, 254, 177, 0.8);
    z-index: 100;
  }

  .browse-entry-meta,
  .browse-entry-classifications {
    color: rgb(128, 128, 128);
    font-size: 93%;
    margin-left: 0.7em;
    z-index: 0;
    position: absolute;
    right: 0;
    padding-right: 0.4em;

    span {
      margin-left: 1em;
    }
  }

  .browse-entry-classifications {
    .bem-meta-link {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .browse-entry-meta {
    .bem-mod-date {
      min-width: 150px;
      display: inline-block;
      text-align: right;
    }
  }
}

.container-browser.browser-hide-meta {
  .browse-entry-meta {
    display: none;
  }
}

.container-browser.browser-hide-classifications {
  .browse-entry-classifications {
    display: none;
  }
}

.container-meta-controls {
  text-align: right;
  padding-right: 1em;

  input[type="radio"] {
    vertical-align: text-bottom;
  }

  .show-label {
    color: gray;
    font-style: italic;
    padding-right: 0.6em;
  }
}

.nfs-store-valid-files.panel {
  background: rgb(243, 243, 243);
  padding-left: 16px;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(221, 221, 221);
  padding-top: 1px;
  margin: 12px -10px -11px;

  .panel-header {
    font-size: 95%;
    font-style: italic;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }

  ul {
    padding-left: 2em;
    margin: 0.4em;
  }

  li {
    font-family: monospace;
    font-size: 12px;
    list-style: none;
  }
}
