.upload-dropzone {
  position: relative;
  min-height: 80vh;
  padding: 0 30px;
  border: 3px solid transparent;
  border-radius: 3px;

  .drop-info {
    display: none;
    position: absolute;
    top: 49%;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 10;
    font-size: 117%;
    font-weight: bold;
    color: #aab;
  }

  &.on-drag {
    background-color: #eef;
    border: 3px solid #ccf;
    border-radius: 3px;

    .drop-info {
      display: block;
    }
  }
}

.upload-dropzone-disabled {
  .drop-info {
    display: none;
  }
}

.browse-container {
  .file-name {
    font-weight: bold;
    font-size: 107%;
    float: left;
    width: 45%;
  }
  .progress {
    float: right;
    width: 45%;
    margin-bottom: 0;
    position: relative;
    background-image: linear-gradient(to bottom, #aaa 0%, #aaa 100%);
  }

  .file-info-block {
    float: none;
    clear: both;
    display: block;
    position: relative;
    overflow: hidden;
  }

  .progress-info {
    position: absolute;
    width: 100%;
    left: 0;
    color: white;
    text-align: center;
    font-size: 15px;

    .started-at {
      padding-left: 1em;
      text-shadow: 1px 1px 1px black;
      white-space: nowrap;
      float: left;
    }
    .progress-bar-status-text {
      text-shadow: 1px 1px 1px black;
      font-weight: bold;
      width: 100%;
      left: 0;
      right: 0;
      position: absolute;
    }
    .ended-at {
      float: right;
      padding-right: 1em;
      text-shadow: 1px 1px 1px black;
    }
  }

  .progress-bar-failed {
    background-color: rgb(165, 68, 68);
  }

  .file-error {
    margin-top: 10px;
  }

  .button-upload-abort {
    float: right;
    margin-top: -10px;
    display: none;
  }
  .button-upload-resume {
    float: right;
    margin-top: -10px;
    display: none;
  }
  .progress-running {
    .button-upload-abort {
      display: inline-block;
    }
  }
}
