<script id="tracker_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">

      <td class="tracker-edit">
      {{#is tracker_history_length '>' 1}}
      <a title="show history" href="/masters/{{master_id}}/trackers/{{id}}/tracker_histories?skip_last=true" data-toggle="collapse" data-target="#trackers-{{master_id}}-{{id}}-history" data-result-target="#trackers-{{master_id}}-{{id}}-history" data-template="tracker-histories-result-template" data-remote="true" class="collapsed glyphicon prevent-on-collapse"><span class="glyphicon glyphicon-time hide-not-collapsed"></span><span class="glyphicon glyphicon-triangle-top hide-collapsed"></span></a>
      {{else}}
      <span class="glyphicon glyphicon-time disabled" title="no history" ></span>
      {{/is}}
      </td>
      {{#filter this "protocol_name,sub_process_name,event_name,event_date,notes" }}
      <td class="tracker-{{@key}}" {{#is @key 'event_name'}}data-event-id="{{../protocol_event_id}}"{{/is}}>
      <div class="cell-holder">{{#if this}}{{#is @key 'notes'}}{{this}}{{else}}{{pretty_string this  return_string="true" capitalize="true"}}{{/is}}{{/if}}
      {{#is @key 'event_name'}}
      {{#if ../record_id}} <a href="#{{hyphenate ../record_type_us}}-{{../master_id}}-{{../record_id}}" data-record-type="{{../record_type_us}}" class="glyphicon glyphicon-paperclip tracker-link-to-item" title="jump to this {{humanize (replace ../record_type_us 'dynamic_model_' '')}}" data-master-id="{{../master_id}}" data-record-id="{{../record_id}}" data-call-if-needed="postprocessors_activity_logs.open_{{../record_type_us}}"></a>{{/if}}
      {{/is}}
      </div>
      </td>
      {{/filter}}
      <td class="tracker-record-meta"><span class="record-meta">{{>update_metadata}}</span></td>
      <td class="edit-tracker-col">
      {{#is protocol_name '!==' 'Updates'}}
      <a title="edit tracker record" class="edit-entity edit-tracker glyphicon glyphicon-edit" href="/masters/{{master_id}}/trackers/{{this.id}}/edit" data-remote="true" data-tracker-id="{{this.id}}" data-result-target="" data-toggle="clear" data-target="#trackers-{{master_id}}-{{id}}-history" ></a>
      {{/is}}
      </td>


</script>

<script id="empty_tracker_tree_results-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <table class="table tracker-tree-results from-empty-tracker-tree">
    <thead><tr>
      <th><a href="/masters/{{master_id}}/tracker_histories" data-remote="true" data-result-target="#trackers-{{master_id}}-inner" data-template="tracker-chron-result-template" title="view as sortable list" class="glyphicon glyphicon-align-justify"></a></th>
      <th>protocol</th><th>status</th><th>method</th><th>date</th><th>notes</th>
      <th colspan="2"><a href="/masters/{{master_id}}/trackers/new" data-remote="true" class="btn btn-sm btn-primary pull-right add-tracker-record" title="add tracker record"><span class="glyphicon glyphicon-plus"></span> Tracker record</a> </th>
      </tr>
    </thead>

    <tbody id="tracker-{{master_id}}-" data-preprocessor="tracker_edit_form" data-subscription="tracker-edit-form-{{master_id}}-" class="new-block new-below">
    <tr >
    <td colspan="9"><h4>No Tracker Records</h4></td>
    </tr>
    </tbody>
</table>
</script>

<script id="tracker_tree_results-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <table class="table tracker-tree-results from-tracker-tree-results">
    <thead><tr>
      <th><a href="/masters/{{master_id}}/tracker_histories" data-remote="true" data-result-target="#trackers-{{master_id}}-inner" data-template="tracker-chron-result-template" title="view as sortable list" class="glyphicon glyphicon-align-justify"></a></th>
      <th>protocol</th><th>status</th><th>method</th><th>date</th><th>notes</th>
      <th colspan="2"><a href="/masters/{{master_id}}/trackers/new" data-remote="true" class="btn btn-sm btn-primary pull-right add-tracker-record" title="add tracker record"><span class="glyphicon glyphicon-plus"></span> Tracker record</a> </th>
      </tr>
    </thead>

    <tbody id="tracker-{{master_id}}-" data-preprocessor="tracker_edit_form" data-subscription="tracker-edit-form-{{master_id}}-" class="new-block new-below">
    <tr >
    {{#is trackers.length 0}}<td colspan="9"><h4>No Tracker Records</h4></td>{{/is}}
    </tr>
    </tbody>

    {{#each this}}
    {{#if id}}
    <tbody id="tracker-{{master_id}}-{{id}}" class="index-{{@index}}" data-tracker-history-items="{{tracker_history_length}}" data-preprocessor="tracker_edit_form" data-tracker-protocol="{{underscore protocol_name}}"  data-subscription="tracker-edit-form-{{master_id}}-{{id}}" data-template="tracker-result-template" data-sub-item="tracker" data-sub-id="{{id}}">
      <tr >
        {{#with this}}
          {{>tracker_result}}
        {{/with}}
      </tr>
    </tbody>
    <tbody class="tracker-history collapsed collapse" id="trackers-{{master_id}}-{{id}}-history" data-subscription="tracker-history-{{master_id}}-{{id}}">
    </tbody>
    {{/if}}
    {{/each}}
  </table>

</script>


<script id="tracker_chron_results-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <table class="table tablesorter tracker-chron-results">
    <thead><tr>
      <th class="no-sort"><a href="/masters/{{master_id}}/trackers" data-remote="true" data-result-target="#trackers-{{master_id}}-inner" data-template="tracker-tree-result-template" title="view as events"  class="glyphicon glyphicon-list"></a></th>
      <th>protocol</th><th>status</th><th>method</th><th>date</th><th>notes</th><th><a href="/masters/{{master_id}}/trackers/new" data-remote="true" class="btn btn-sm btn-primary pull-right hidden add-tracker-record" title="add tracker record"><span class="glyphicon glyphicon-plus"></span> Tracker record</a> </th>
      </tr>
    </thead>
    <tbody id="tracker-{{master_id}}-" data-preprocessor="tracker_edit_form" data-subscription="tracker-edit-form-{{master_id}}-" class="new-block new-below">
    <tr >
    {{#is trackers.length 0}}<td colspan="9"><h4>No Tracker Records</h4></td>{{/is}}
    </tr>
    </tbody>

    <tbody>
    {{#each this}}
      {{#if id}}
      <tr class="index-{{@index}}" data-tracker-protocol="{{underscore protocol_name}}" data-tracker-protocol="{{underscore protocol_name}}" id="tracker-{{master_id}}-{{id}}" data-subscription="tracker-edit-form-{{master_id}}-{{id}}">
        {{#with this}}
          {{>tracker_history_result}}

        {{/with}}
      </tr>
      {{/if}}
    {{/each}}
    </tbody>
  </table>

</script>



<script id="tracker-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with tracker}}
    {{#was _created}}
    <tbody id="tracker-{{master_id}}-{{id}}" data-preprocessor="tracker_edit_form" class="index-created"  data-subscription="tracker-edit-form-{{master_id}}-{{id}}" data-tracker-protocol="{{underscore protocol_name}}" data-template="tracker-result-template" data-sub-item="tracker" data-sub-id="{{id}}">
    {{else was _merged }}
    <tbody id="tracker-{{master_id}}-{{id}}" data-preprocessor="tracker_edit_form" class="index-created"  data-subscription="tracker-edit-form-{{master_id}}-{{id}}" data-tracker-protocol="{{underscore protocol_name}}" data-template="tracker-result-template" data-sub-item="tracker" data-sub-id="{{id}}">

    {{/was}}

      <tr >
          {{>tracker_result}}
      </tr>
    {{#was _created}}
    </tbody>
    <tbody class="tracker-history collapsed collapse" id="trackers-{{master_id}}-{{id}}-history" data-subscription="tracker-history-{{master_id}}-{{id}}">
    </tbody>

    {{/was}}
  {{/with}}
</script>

<script id="tracker-chron-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with tracker_histories}}
    {{>tracker_chron_results master_id=../master_id}}
  {{else}}
    {{>empty_tracker_tree_results master_id=master_id}}
  {{/with}}
</script>
<script id="tracker-tree-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with trackers}}
    {{>tracker_tree_results master_id=../master_id}}
  {{else}}
      {{>empty_tracker_tree_results master_id=master_id}}
  {{/with}}
</script>
