a.glyphicon {
    &, &:hover, &:active, &:link {
        text-decoration: none;
        outline: none;
    }
    &:hover {
        opacity: 0.8;
    }
}

a.navbar-brand {
    padding-top: 4px;
    background-color: white;
    > img {

        width:200px;
        height: auto;
    }
}

.flash {
    position: fixed;
    width: 100%;
    z-index: 200;
}

.alert.alert-timedout {
    display: none;
}


body.sessions.new {
    .flash { 
        position: relative;
        width: auto;
    }    
}

.version-info {font-size: 12px; color: gray;}

.glyphicon-info-sign[title] {cursor: help;}
.meta-last-updated {cursor: help;}


a.glyphicon.show-entity, a.glyphicon.edit-entity {
    color: white;
    background-color: #CC0000;
    display: inline-block;
    padding: 6px;
    
    border: 1px solid #ff0000;
    border-radius: 6px;
    text-decoration: none;
    
    &:hover {
        background-color: #ff0000;
        text-decoration: none;
    }
    
    &:active {
        background-color: #770000;
    }
}

.nav.nav-pills {
    li {
        > a {
            
            background-color: white;
            color: #2e6da4;
            border: 1px solid #2e6da4;
        }
        > a.collapsed {
            background-color: #2e6da4;
            color: white;
            
            
        }
        > a > .caret {
            visibility: hidden;
        }
        > a.collapsed > .caret {
            visibility: visible;
        }
    }
}


li.search-field input.default {width: 100% !important;}

input.form-control.has-value, select.form-control.has-value {
    background-color: #f2dede !important;
}

input.form-control.has-value, select.form-control.has-value {
    &[disabled]{
        background-color: #eee !important;
    }
}


@-webkit-keyframes working {
    0% {background-color: rgba(240,240,255, 0.25);}
    50% {background-color: rgba(240,240,255, 0.75);}
    100% {background-color: rgba(240,240,255, 0.45);}
}
@-moz-keyframes working {
    0% {background-color: rgba(240,240,255, 0.25);}
    50% {background-color: rgba(240,240,255, 0.75);}
    100% {background-color: rgba(240,240,255, 0.45);}
}
@keyframes working {
    0% {background-color: rgba(240,240,255, 0.25);}
    50% {background-color: rgba(240,240,255, 0.75);}
    100% {background-color: rgba(240,240,255, 0.45);}
}

.ajax-running{
    -webkit-animation: working 1s ease-in-out infinite;
    -moz-animation: working 1s ease-in-out infinite;
    animation: working 1s ease-in-out infinite;
    
    min-height: 20px;
}


.search-running.glyphicon {
/*    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;*/
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hide-collapsed {
    display: initial;        
}
.collapsed .hide-collapsed {
    display: none;  
}
.hide-not-collapsed {
    display: none;  
}

.collapsed .hide-not-collapsed {
    display: initial;  
}

a[data-toggle="collapse"] {outline: 0; }
a[data-toggle="collapse"].master-expander {color: #2b669a;}
a[data-toggle="collapse"]:hover {color: #770000}
a[data-toggle="collapse"]:active, a[data-toggle="collapse"]:focus {color:#2b669a;}

a[data-toggle="collapse"].master-expander.collapsed {color: #333;}

span.msid {font-size: 90%;}

@media only screen and (max-width: 1023px) {

   .panel-title { font-size: 14px; }

}

@media only screen and (max-width: 1999px) {

   .panel-title { font-size: 15px; }

}


.form-group-non {
    margin-top: 10px;
    line-height: 1em;
    margin-bottom: 6px;
}


#error_explanation h2 {font-size: 22px;}