a.glyphicon {
    &, &:hover, &:active, &:link {
        text-decoration: none;        
    }
    &:hover {
        opacity: 0.8;
    }
}

a.navbar-brand {
    padding-top: 4px;
    background-color: white;
    > img {

        width:200px;
        height: auto;
    }
}

.flash {
    position: fixed;
    width: 100%;
    z-index: 200;
}

.alert.alert-timedout {
    display: none;
}


body.sessions.new {
    .flash { 
        position: relative;
        width: auto;
    }    
}


a.glyphicon.show-entity, a.glyphicon.edit-entity {
    color: white;
    background-color: #CC0000;
    display: inline-block;
    padding: 6px;
    
    border: 1px solid #ff0000;
    border-radius: 6px;
    text-decoration: none;
    
    &:hover {
        background-color: #ff0000;
        text-decoration: none;
    }
    
    &:active {
        background-color: #770000;
    }
}

.nav.nav-pills {
    li {
        > a {
            
            background-color: white;
            color: #2e6da4;
            border: 1px solid #2e6da4;
        }
        > a.collapsed {
            background-color: #2e6da4;
            color: white;
            
            
        }
        > a > .caret {
            visibility: hidden;
        }
        > a.collapsed > .caret {
            visibility: visible;
        }
    }
}


li.search-field input.default {width: 100% !important;}

input.form-control.has-value, select.form-control.has-value {
    background-color: #f2dede !important;
}


@-webkit-keyframes working {
    0% {background-color: rgba(240,240,255, 0.25);}
    50% {background-color: rgba(240,240,255, 0.75);}
    100% {background-color: rgba(240,240,255, 0.45);}
}
@-moz-keyframes working {
    0% {background-color: rgba(240,240,255, 0.25);}
    50% {background-color: rgba(240,240,255, 0.75);}
    100% {background-color: rgba(240,240,255, 0.45);}
}
@keyframes working {
    0% {background-color: rgba(240,240,255, 0.25);}
    50% {background-color: rgba(240,240,255, 0.75);}
    100% {background-color: rgba(240,240,255, 0.45);}
}

.ajax-running{
    -webkit-animation: working 1s ease-in-out infinite;
    -moz-animation: working 1s ease-in-out infinite;
    animation: working 1s ease-in-out infinite;
    
    min-height: 20px;
}

.hide-collapsed {
    display: initial;        
}
.collapsed .hide-collapsed {
    display: none;  
}
.hide-not-collapsed {
    display: none;  
}

.collapsed .hide-not-collapsed {
    display: initial;  
}