.activity-logs-item-block {
  
  padding: 0em;
  
}

.activity-logs-header, .activity-log-list {
  
  padding: 1em;
  
}

.list-group-item:first-child, .tracker-chron-results thead, .tracker-tree-results thead, .activity-logs-header { 
    background-color: #EEEEEE;
    
}

.activity-log-sub-list {
  
  padding: 0.27em 1em;
  
  .panel.selected-item {
    border-color: #aaa;
  }
  
  .panel .list-group .list-group-item {
    color: #aaa;
  }
  .panel .list-group .list-group-item.sub-list-data {
    font-weight: bold;
    color: black;
  }
  
}

.notes-block .panel{
  
  min-height: 52px;
  
}

.activity-logs-item-block {
  
  &.in, &.ajax-loading {
    margin-bottom: 8px;
  }
  
}
.activity-log-initial-action {
  
  text-align: center;
  padding: 68px 0;
  width: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.activity-log-list input[type='date'] {
  max-width: 7em;
}