.activity-logs-item-block {

  padding: 0em;

}

.activity-logs-generic-block {
  margin-bottom: 1.4em;
}

.activity-logs-header, .activity-log-list {

  padding: 1em;

}

.activity-logs-header {
  .action-buttons {
    margin-top: 0em;
    margin-bottom: -0.4em;
  }
}

.list-group-item:first-child, .tracker-chron-results thead, .tracker-tree-results thead, .activity-logs-header {
    background-color: #EEEEEE;

}

span.related-tracker-collapser .list-group-item:first-child {
  background-color: white;
}

.activity-log-sub-list {

  padding: 14px 1em;

  .panel.selected-item {
    border-color: #aaa;
  }

  .panel .list-group .list-group-item {
    color: #aaa;
  }
  .panel .list-group .list-group-item.sub-list-data {
    font-weight: bold;
    color: black;
  }

}

.activity-logs-item-block {

  &.in, &.ajax-loading {
    margin-bottom: 8px;
  }

}

.activity-log-initial-action {
  display: none;
}
.selected-item {
  .activity-log-initial-action {
    text-align: center;
    display: block;
  }
}

.activity-log-list input[type='date'], .activity-log-list input[type='datepicker'] {
  max-width: 7em;
}

a.related-tracker-histories-link {

  .caret {
    display: none;
  }

  &.collapsed {
    .caret {
      display: inline-block;
    }
  }

}

.model-reference-result {
  .tracker-histories-caption {
    display: none;
  }

}

.prevent-edit {
  .model-reference-result {
    .edit-entity {
      display: none;
    }
  }
}

.model-reference-result,
.model-reference-result form.form-inline,
.model-reference-list form.form-inline
{
  min-height: 0 !important;
}

.model-reference-result .in-item-model-references {
    display: none;
}

.al-create-actions {
  line-height: 2.6em;
}

.model-reference-result,
.model-edit-form
 {
  .edit-form-header h4,
  .object-results-header h4,
  .list-group-item.record-meta {
    display: none;
  }
}

.model-reference-result .is-activity-log .list-group-item.record-meta {
  display: block;
}

.model-reference-result.embedded-item,
.model-edit-form.embedded-item
{
  .edit-form-header {
    display: none;
  }
}

.hidden-item-list-panel .sr-item-block {
  display: none;
}


.activity-logs-generic-block .common-template-item {margin-bottom: 40px;}
