.form-control {
    padding-left: 4px;
    padding-right: 4px;
}

.tt-menu {
  border: 1px solid silver;
  width: 100%;
  padding: 4px;
  background-color: #eee;
}
.tt-menu:hover {
    cursor: pointer;
}

.twitter-typeahead {
    width: 100%;
}

form select {
    width: 100%;
    height: auto;
    padding: 4px 0px;
    line-height: 22px;
}

form.search_master .form-group  select {
    width: 100%;
    height: auto;
    padding: 6px 0px;
    line-height: 22px;
}

form .form-group select {
    width: inherit;
    padding: 4px;
}



input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    &.form-control {
        line-height: inherit;
    }
}


li.list-group-item label {
    font-size: 85%;
}

.form-inline .row > div {
    text-align: right;
    div.form-group {
        padding-top: 4px;
        padding-bottom: 4px
    }
}