.upload-dropzone {
  min-height: 100px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  // border: 0 !important;
  margin: -3px;
}

.browse-container {
    border: 1px solid rgb(221, 221, 221);
}

.browse-controls {
  background: rgb(243, 243, 243);
  padding: 6px 4px;
  margin-top: -10px;
}

.container-heading-block {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-top: 1px;
}

.container-browser {
  border: 0;
  max-height: 40vh;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.container-heading-block {
  background: rgb(243, 243, 243);
  padding-left: 16px;
  h4 {
    font-size: 16px;
  }
  .container-id-label {
    display: none;
  }
  a.refresh-container-list {
    position: relative;
    margin-top: -26px;
    float: right;
    margin-right: 6px;
  }
}


.file-block.well {
  margin: 8px 16px;

  .progress, .file-name {
    float: none;
    width: auto;
  }
  .progress {
    margin-top: 6px;
  }
}
