tr.report-auto {
  background-color: #FFFADF;
}

.report-search-attr {
    .attr-label {
        color: gray;
        padding-right: 10px;
    }
    .attr-val {
        color: black;
    }
}

.hover-link {
    color: #0063a6 ;
    &:hover {cursor: pointer; color: #09c; }
    &:hover:after {
    content: '\e066';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size: 80%;
    padding-left:0.4em;
    margin-right: -1.6em;    
    }

}

body.reports.show {
  overflow-x: hidden;
}

.item-selected {
    background-color: #FFFADF;
}

.btn.add-btn {
    position: absolute;
    top: 1.8em;
    right: 0.48em;
}

.report-edit-submit, .report-edit-cancel {
    font-size: 10px;
    padding: 2px 4px;
    margin: 0 2px;
}

.report-edit-form {
  display: none;
}

table.table.report-table .report-el.report-el-object-id {
  width: 10em;
  background-color: #eee;
}

#report-item-new a.edit-entity {display: none;}

.report-new-item-btn {
  font-size: 10px;
  margin: 0;
  padding: 2px 3px;

}
