li.list-group-item {
    strong {
        text-transform: capitalize;
    }
    strong {
        text-transform: none;
    }

}

li.address-state {
    
    strong {
        text-transform: uppercase;
    }
    
    small {
        display: inline-block;
    }
}

span.heading-rank {
    font-size: 85%;
    color: #8a6d3b;
    font-style:  italic;
        
    &:before {
        content: 'rank';
        padding-right: 6px;
        padding-left: 12px;
    }    
}

small.list-small-label  {
   display: inline-block;
   margin-right: 1.6em;
}

li.list-group-item.is-combo small {
   margin-right: 0.6em;
}

.item-flags-count-0 a.flag-entity {
    color:#AAA;
}

.item-flags-block {margin-top:8px;}

.edit-entity {
    margin-top:-6px;
    margin-right: -10px;
}

.add-flags{
    margin-top: -19px;
    margin-left: -10px;
    float: left;
}

.tracker-block.panel{
      
      
      
          margin-bottom: 10px;
      
      
      
}