span.disabled, a.disabled {color: #ccc !important;}

.panel-title .pro-info-header {
    font-size: 14px;
    color: rgb(71,71,71);
    strong {
        font-weight: bold;
        font-size: 15px;
    }
}

#master_results_block .panel-heading{

    .glyphicon-link {visibility: hidden;}
    &:hover .glyphicon-link {
        visibility: visible;     
        color: #B79C0F;
        text-shadow: #fff 2px 1px 1px;
    }
}

li.list-group-item {
    strong {
        text-transform: capitalize;
    }
    strong {
        text-transform: none;
    }

}

li.address-state {
    
    strong {
        text-transform: uppercase;
    }
    
    small {
        display: inline-block;
    }
}

span.heading-rank {
    font-size: 85%;
    color: #8a6d3b;
    font-style:  italic;
        
    &:before {
        content: 'rank';
        padding-right: 6px;
        padding-left: 12px;
    }    
}

small.list-small-label, label.list-small-label   {
   display: inline-block;
   margin-right: 1.6em;
}

li.list-group-item.is-combo small {
   margin-right: 0.6em;
}

.item-flags-count-0 a.flag-entity {
    color:#AAA;
}

.item-flags-block {
    margin-top:8px;
}

.tracker-flag .item-flags-block {
    margin-top:0px;
}

a.glyphicon.edit-entity.edit-tracker {margin-top: 0;}

.edit-entity {
    margin-top:-6px;
    margin-right: -10px;
}

.add-flags{
    margin-top: -19px;
    margin-left: -10px;
    float: left;
}

.tracker-block.panel{
      
      
      
          margin-bottom: 10px;
      
      
      
}

.search-results-count{
    font-weight: bold;
    margin-right: 2em;
}
.ajax-running .search-results-count {
    
    color: silver;
    
    &:before {
        color: #55f;
        content: 'loading...';
    }
    
} 

.form-actions {
    border-bottom: 1px solid;
    border-color: #f0f0ff;
    padding: 3px 18px 3px 8px;
}


form.edit_tracker, form.new_tracker{
    .form-group {
      text-align: right;

      input[type="submit"] {
            margin-right: 1.67em;
      }
    }
}


table.table tbody.tracker-history {
    border: 0;
}

table.table td.tracker-history {border-top:0;}

table.table.tablesorter > thead > tr > th {
    &.header {
        
        border-top: 4px solid transparent !important;
        border-bottom: 4px solid #eee !important;
    }
    &.header.headerSortUp {
        border-top: 4px solid #c9e2b3 !important;

    }
    &.header.headerSortDown {
        border-bottom: 4px solid #c9e2b3 !important;
    }
    &:hover {
        cursor: pointer;
    }
} 


.collapsed span.badge {
  background-color: white;
  color: #2e6da4;
}

.record-meta {
  color: #aaa;
  font-size: 95%;
}

li.list-group-item.record-meta {
  color: #aaa;
  font-size: 95%;
}

td .record-meta {
  color: #aaa;
  font-size: 95%;
  white-space: nowrap;
}

tbody[data-tracker-protocol="alerts"] td, tr[data-tracker-protocol="alerts"] td {
    background-color: #F4D9c0;
}

.tracker-event, .tracker-protocol, .tracker-outcome,
.tracker-history-event, .tracker-history-protocol, .tracker-history-outcome {
    .cell-holder {
        white-space: nowrap;
    }
}

.tracker-event_date, .tracker-outcome_date,
.tracker-history-event_date, .tracker-history-outcome_date {
    color: #999;
    font-size: 95%;
}

.tracker-notes, .tracker-history-notes {
    font-size: 95%;
    .cell-holder {
        overflow: hidden;
    }
}

table.tracker-tree-results {
    tbody[data-tracker-history-items="1"][data-tracker-protocol=""], tr[data-tracker-history-items="1"][data-tracker-protocol=""]{
        display:none;
    }
}

table.tracker-tree-results, table.tracker-chron-results {

    tbody[data-tracker-protocol=""],tr[data-tracker-protocol=""] {
        td.tracker-protocol_name:before, td.tracker-history-protocol_name:before {
            content: '(not selected)';
            color: #777;
            font-size: 95%;
        }
    }
    tbody[data-tracker-protocol="updates"], tr[data-tracker-protocol="updates"] {
        
        div.cell-holder{
            color: #999;
        }
    }
    
    td.tracker-notes , td.tracker-history-notes{ 
        
        width: 30%;
        
        .cell-holder.expandable {
            max-height: 40px;
            padding-bottom: 2px;
            border-bottom: 2px dotted gray;
            &:hover {
                cursor: s-resize;
            }

        }


        .cell-holder.expanded {
            max-height: none;
            border-bottom: 0;
            &:hover {
                cursor: n-resize;
            }
        }

    }    
    
}




.label.player-info-badge-12, .label.player-info-12, .label.player-contact-10, .label.address-10 {background-color: #2e6da4;}
.label.player-info-badge--1, .label.player-info--1, .label.player-contact--1, .label.address--1 {background-color: #666;}
.label.player-info-badge-881, .label.player-info-881, .label.player-info-badge-999, .label.player-info-999, .label.player-info-badge-777, .label.player-info-777, 
.label.player-info-badge-555, .label.player-info-555, .label.player-info-badge-333, .label.player-info-333, 
.label.player-info-badge-888, .label.player-info-888, .label.player-contact-0, .label.address-0 {background-color: #aaa;}

li.list-group-item.pro-info-pro_id {
  padding: 5px 15px 6px;
  background-color: #EEEEEE;
}


.list-group-item:first-child, .tracker-chron-results thead, .tracker-tree-results thead { 
    background-color: #EEEEEE;
    
}

.master-result span.msid { color: gray;}

.panel-default > .panel-heading {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #FFFFFF 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #FFFFFF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#FFFFFF));
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #FFFFFF 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffFFFFFF', GradientType=0);
}

li.list-group-item.address-postal_code strong {text-transform: uppercase;}
li.list-group-item.address-country strong {text-transform: uppercase;}

ul[data-address-is-us="true"]{
    li.list-group-item.address-region, li.list-group-item.address-postal_code {display: none;}    
}
ul[data-address-is-us="false"]{ 
    li.list-group-item.address-state_name, li.list-group-item.address-zip {display: none;}
}

.item-highlight .list-group-item:first-child {
    background-color: #ffc;
}

strong.email {
    
    word-break: break-word;

}

span.tracker-event-description {color: silver;}

li.address-source strong, li.player-contact-source strong {
    text-transform: lowercase;
}