span.disabled, a.disabled {color: #ccc !important;}

.panel-title .pro-info-header {
    font-size: 14px;
    color: rgb(71,71,71);
    strong {
        font-weight: bold;
        font-size: 15px;
    }
}

li.list-group-item {
    strong {
        text-transform: capitalize;
    }
    strong {
        text-transform: none;
    }

}

li.address-state {
    
    strong {
        text-transform: uppercase;
    }
    
    small {
        display: inline-block;
    }
}

span.heading-rank {
    font-size: 85%;
    color: #8a6d3b;
    font-style:  italic;
        
    &:before {
        content: 'rank';
        padding-right: 6px;
        padding-left: 12px;
    }    
}

small.list-small-label, label.list-small-label   {
   display: inline-block;
   margin-right: 1.6em;
}

li.list-group-item.is-combo small {
   margin-right: 0.6em;
}

.item-flags-count-0 a.flag-entity {
    color:#AAA;
}

.item-flags-block {
    margin-top:8px;
}

.tracker-flag .item-flags-block {
    margin-top:0px;
}

a.glyphicon.edit-entity.edit-tracker {margin-top: 0;}

.edit-entity {
    margin-top:-6px;
    margin-right: -10px;
}

.add-flags{
    margin-top: -19px;
    margin-left: -10px;
    float: left;
}

.tracker-block.panel{
      
      
      
          margin-bottom: 10px;
      
      
      
}

.search-results-count{
    font-weight: bold;
    margin-right: 2em;
}
.search-results-count.ajax-running:before {
    content: 'loading...';
} 

.form-actions {
    border-bottom: 1px solid;
    border-color: #f0f0ff;
    padding: 3px 18px 3px 8px;
}


form.edit_tracker, form.new_tracker{
    .form-group {
      text-align: right;

      input[type="submit"] {
            margin-right: 1.67em;
      }
    }
}


table.table tbody.tracker-history {
    border: 0;
}

table.table td.tracker-history {border-top:0;}

table.table.tablesorter > thead > tr > th {
    &.header {
        
        border-top: 4px solid transparent !important;
        border-bottom: 4px solid #eee !important;
    }
    &.header.headerSortUp {
        border-top: 4px solid #c9e2b3 !important;

    }
    &.header.headerSortDown {
        border-bottom: 4px solid #c9e2b3 !important;
    }
    &:hover {
        cursor: pointer;
    }
} 


.collapsed span.badge {
  background-color: white;
  color: #2e6da4;
}

.record-meta {
  color: #aaa;
  font-size: 95%;
}

li.list-group-item.record-meta {
  color: #aaa;
  font-size: 95%;
}

td .record-meta {
  color: #aaa;
  font-size: 95%;
  white-space: nowrap;
}

tr[data-tracker-protocol="alerts"] td {
    background-color: #F4D9c0;
}

.tracker-event, .tracker-protocol, .tracker-outcome,
.tracker-history-event, .tracker-history-protocol, .tracker-history-outcome {
    .cell-holder {
        white-space: nowrap;
    }
}

.tracker-event_date, .tracker-outcome_date,
.tracker-history-event_date, .tracker-history-outcome_date {
    color: #999;
    font-size: 95%;
}

.tracker-notes, .tracker-history-notes {
    font-size: 95%;
    .cell-holder {
        overflow: hidden;
    }
}

table.tracker-tree-results {
    tr[data-tracker-history-items="1"][data-tracker-protocol=""]{
        display:none;
    }
}

table.tracker-tree-results, table.tracker-chron-results {

    tr[data-tracker-protocol=""] {
        td.tracker-protocol_name:before, td.tracker-history-protocol_name:before {
            content: '(not selected)';
            color: #777;
            font-size: 95%;
        }
    }
    tr[data-tracker-protocol="updates"] {
        background-color: #f7f7f3;
        div.cell-holder{
            color: #999;
        }
    }
}