<div class="admin-edit-form alert" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p>Email: <%= @admin.email %></p>
  <p>Disabled:<%=!!@admin.disabled%></p>
</div>
