<div class="data-context"></div>

<!-- The container for the uploaded files -->
<div id="files" class="files"></div>


<div class="hidden template">
  <div class="file-block process-ready well">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <button class="button-upload-abort btn btn-danger btn-sm">cancel</button>
    <button class="button-upload-resume btn btn-primary btn-sm">resume</button>
    <div class="file-name"></div>

    <div class="progress">
      <span class="progress-info">
        <span class="started-at"></span>
        <span class="progress-bar-status-text"></span>
        <span class="ended-at"></span>
      </span>
      <div class="progress-bar progress-bar-success">
      </div>
    </div>
    <div class="file-info-block">
      <p class="file-info"></p>
      <p class="file-error text-danger"></p>
    </div>
  </div>
</div>
