<div class="report-admin-options-block" data-out-attr-name="options" data-out-object-name="<%= object_instance.class.name.ns_underscore %>">
  <label>Options</label>
  <div class="report-admin-options-block-inner">
    <%= f.text_area :options, class: "code-editor code-editor-yaml", data: {code_editor_type: 'yaml'}%>
  </div>
</div>
