<% if @report.editable_data? || !@report_criteria  %>
  <div class="col-md-2 col-lg-2 inline-search-button <%= @hidden_class %>" style="padding-bottom: 1em;">
    <label>&nbsp;</label>
    <div>
      <% 
        if @report.report_type == 'search' 
      %>
        <%= button_tag (@view_options&.search_button_label || 'search'), 
              name: 'commit', 
              value: 'search', 
              type: 'submit', 
              class: "btn btn-default #{@hidden_class} #{@auto_submitter_class} #{@auto_run_class}" %>
      <% end %>
    </div>
  </div>
<% end %>