<%= render partial: 'common_templates/common_template_result' %>
<%= render partial: 'common_templates/common_template_result_fields' %>
<%= render partial: 'common_templates/common_template_references' %>
<%= render partial: 'common_templates/common_template_list' %>

<script id="ajax_form_fields" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" type="hidden" class="set-auth-token" value="" />
</script>

<script id="rank_button" type="text/x-handlebars-template" class="hidden handlebars-partial">
<span class="pull-right label label-info general-rank-{{rank}} {{name_h}}-{{rank}}" style="margin-right:1em">{{#has 'rank'}}{{#if rank}}{{rank}} - {{rank_name}}{{else}}(no rank){{/if}}{{/has}}</span>
</script>

<script id="update_metadata-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{#if show_created_at}}
    <span class="meta-created-at glyphicon glyphicon-plus-sign"></span>&nbsp;<span class="meta-created-at-shown" data-toggle="popover" data-trigger="click hover" data-content="created: {{date_time created_at}}">{{date_time created_at}}</span>
  {{else}}
    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-trigger="click hover" data-content="created: {{date_time created_at}}"></span>
  {{/if}}
  {{#if updated_at}}  &nbsp; {{#is updated_at_ts '===' created_at_ts }}<span class="meta-last-updated glyphicon glyphicon-unchecked" data-toggle="popover" data-trigger="click hover" data-content="not updated"></span>{{else}}<span class="meta-last-updated glyphicon glyphicon-pencil"></span>&nbsp;<span class="meta-last-updated" data-toggle="popover" data-trigger="click hover" data-content="last updated {{date_time updated_at}}" >{{pretty_string updated_at}}</span>{{/is}}{{else}}<span class="meta-last-updated glyphicon glyphicon-unchecked" data-toggle="popover" data-trigger="click hover" data-content="no update information available"></span>{{/if}}
  {{#if user_name}} &nbsp; <span class="meta-created-by glyphicon glyphicon-user"></span>&nbsp;<span class="meta-created-by-shown" data-toggle="popover" data-trigger="click hover" data-content="edited by">{{user_name}}</span>{{/if}}
</script>

<script id="common_template_create_button-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{#unless prevent_create}}
  <a href="/masters/{{id}}/{{pluralize resource}}/new" data-remote="true" class="btn btn-sm btn-primary add-item-button" data-toggle="scrollto-result" data-target="{{hyphenate resource}}-{{id}}-"><span class="glyphicon glyphicon-plus"></span> {{#if label}}{{label}}{{else}}{{titleize resource}}{{/if}} record</a>
  {{/unless}}
</script>

<script id="field_label" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <small class="ctlabel">
    {{#if (fpa_state_item labels vdef_version @key )}}
      {{fpa_state_item labels vdef_version @key }}
    {{else if force_default}}
      {{force_default}}
    {{else}}
      {{humanize (replace @key replace '')}}
    {{/if}}
  </small>
</script>

<script id="edit_item_button" type="text/x-handlebars-template" class="hidden handlebars-partial">
{{#unless prevent_edit }}
  <a data-toggle="scrollto-result" data-target="#{{hyphenate resource}}-{{master_id}}-{{id}}" title="edit" class="edit-entity edit-{{hyphenate resource}} pull-right glyphicon glyphicon-edit" href="{{run_template edit_button_href}}" data-remote="true" data-{{hyphenate resource}}-id="{{this.id}}" data-result-target=""></a>
  <a data-remote="true" title="refresh" class="hidden refresh-item" href="{{replace (run_template edit_button_href) '\/edit$' ''}}">&nbsp;</a>
{{/unless}}
</script>

<script id="search_results_notes_block" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <li class="list-group-item result-notes-container {{full_name_hyphenated}}-{{key}} notes-block {{#unless value}}notes-empty{{/unless}}" data-field-name="{{key}}">
    {{#if label}}
    <small class="notes-block-label">{{> field_label labels=(concat 'labels_' (underscore name)) }}</small>
    {{/if}}
    {{#is (get template_config 'field_options' key 'format') 'markdown'}}
    <div class="custom-editor-viewer">
      <div class="notes-text">{{{markdown_html value}}}</div>
    </div>
    {{else is (fpa_state_item 'app_configs' 'notes_field_format') 'markdown'}}
    <div class="custom-editor-viewer">
      <div class="notes-text">{{{markdown_html value}}}</div>
    </div>
    {{else}}
      <div class="notes-text">
        {{pretty_string value return_string="true"}}
      </div>
    {{/is}}
  </li>
</script>

<script id="activity_log_data_template_name_partial"  type="text/x-handlebars-template" class="hidden handlebars-partial">activity-log--{{#if rec_type}}{{hyphenate full_name}}-{{pluralize rec_type}}{{else}}{{hyphenate (pluralize full_name)}}{{/if}}-main-result-template</script>

<%
# The show button appears at the top of a parent item, such as a player_contact with record type phone
%>
<script id="activity_log_common_template_show_button" type="text/x-handlebars-template" class="hidden handlebars-partial">

  {{#if template_config.supports_activity_log }}
    {{#if rec_type}}

    <a data-toggle="uncollapse" data-target="#activity-log--{{hyphenate template_config.full_name}}-{{pluralize rec_type}}-{{master_id}}" title="open {{rec_type}} log" style="margin-right:1em" class="activity-log-entity-link activity-log--{{hyphenate template_config.full_name}}-{{rec_type}}-link pull-right glyphicon glyphicon-th-list always-scroll-to-expanded" href="/masters/{{master_id}}/{{pluralize name}}/{{this.id}}/activity_log/{{underscore name}}_{{pluralize rec_type}}" data-remote="true" data-{{hyphenate name}}-id="{{this.id}}" data-result-target="#activity-log--{{hyphenate template_config.full_name}}-{{rec_type}}s-{{master_id}}" data-template="{{> activity_log_data_template_name_partial full_name=template_config.full_name }}"></a>
    {{else}}
    <a data-toggle="uncollapse" data-target="#activity-log--{{hyphenate (pluralize template_config.full_name)}}-{{master_id}}" title="open {{run_template template_config.caption}}" style="margin-right:1em" class="activity-log-entity-link {{hyphenate template_config.full_name}}-link pull-right glyphicon glyphicon-th-list always-scroll-to-expanded" href="/masters/{{master_id}}/{{pluralize name}}/{{this.id}}/activity_log/{{underscore (pluralize name)}}" data-remote="true" data-{{hyphenate name}}-id="{{this.id}}" data-result-target="#activity-log--{{hyphenate (pluralize template_config.full_name)}}-{{master_id}}" data-template="{{> activity_log_data_template_name_partial full_name=template_config.full_name }}"></a>
    {{/if}}
  {{/if}}

</script>
