<%
  # Handle the display of referenced items in search results.
%>
<script id="activity_log_common_template_references_list_item"  type="text/x-handlebars-template" class="hidden handlebars-partial">
<li class="list-group-item {{hyphenate name}}-model-references rr-mr in-item-model-references is-full-width {{#if to_record_viewable}}{{#if ../_show_embedded_as_single_item}} single-model-reference model-reference-auto-shown-caption{{/if}}{{/if}} {{#if disabled}}model-reference-disabled{{/if}} "
    data-template="model-references-{{name}}-result-template"
    data-sub-item="model_reference"
    data-sub-id="{{id}}"
    data-mr-name="{{to_record_label}}"
    >
  <span class="small" data-result-target-for-child="#{{ns_hyphenate name}}-{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}">
    {{#if to_record_viewable}}
    {{#is view_as '!==' 'see_presence' }}
    <a href="{{#if to_record_master_id}}/masters/{{to_record_master_id}}{{/if}}/{{pathify to_record_type_us_plural}}/{{to_record_id}}{{#is view_as '===' 'as_edit'}}{{#if to_record_editable}}/edit{{/if}}{{/is}}" 
       data-template="{{hyphenate to_record_template}}-result-template" 
       data-result-target-force="true" 
       data-result-target="#{{ns_hyphenate name}}-{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}" 
       data-remote="true" 
       data-toggle-caret="true"       
       class="glyphicon glyphicon-triangle-right view-item  mr-expander {{#is (fpa_state_item 'template_config' (underscore name) vdef_version 'item_list') 'includes' ',' }}{{#if ../_show_embedded_as_single_item}}on-postprocess-click{{/if}}{{/is}} {{#if to_record_options_config.view_options.always_open}}on-postprocess-click{{/if}}" 
       data-use-alt-result-key="{{to_record_result_key}}"></a>
    {{/is}}
    {{else}}
    <span class="glyphicon glyphicon-ban-circle"></span>
    {{/if}}
    <i class="mr-item-label" id="{{ns_hyphenate to_record_label}}">{{to_record_label}}</i> {{substring (pretty_string to_record_data return_string=true remove_tags=true) 0 100 }}
  </span>
  <span class="selectable-model-reference-result-action pull-right" id="model-reference-{{from_record_master_id}}-{{hyphenate from_record_type_us}}-{{from_record_id}}-{{id}}-smrra-link" data-subscription="model-reference-{{from_record_master_id}}-{{hyphenate from_record_type_us}}-{{from_record_id}}-{{id}}-smrra-linkholder"  data-preprocessor="model_references_item">
      {{#if disabled}}
        <span class="model-reference-removed-marker small">(removed)</span>
      {{else}}
        {{#if can_disable}}
          {{#if from_record_type_us}}
          <a href="/masters/{{from_record_master_id}}/{{from_record_type_us}}/{{from_record_id}}/model_references/{{id}}/edit" class="glyphicon glyphicon-remove no-processed-scroll" title="remove reference to item" data-remote="true"></a>
          {{else}}
            {{#if id}}
            <a href="/masters/{{from_record_master_id}}/model_references/{{id}}/edit" class="glyphicon glyphicon-remove" title="remove reference to item no-processed-scroll" data-remote="true"></a>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
  </span>
  <span class="selectable-model-reference-result-action-form pull-right" id="model-reference-{{from_record_master_id}}-{{hyphenate from_record_type_us}}-{{from_record_id}}-{{id}}-smrra" data-subscription="model-reference-{{from_record_master_id}}-{{hyphenate from_record_type_us}}-{{from_record_id}}-{{id}}-smrra"  data-preprocessor="model_references_item"></span>
</li>
{{#if to_record_viewable}}
<div class="model-reference-result {{#if ../_show_embedded_as_single_item}} single-model-reference-result model-reference-auto-shown{{else}} multi-model-reference-result{{/if}} is-in-show-viewable mrblock-{{hyphenate to_record_type_us}} mrblock-extra-log-type-{{to_elt}}" >
  <div id="{{ns_hyphenate name}}-{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}" class="model-reference-result" data-result-target-for-child="#{{ns_hyphenate name}}-{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}, #{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}"  data-preprocessor="{{hyphenate to_record_type_us}}_edit_form" data-subscription="{{hyphenate to_record_template}}-edit-form-{{to_record_master_id}}-{{to_record_id}}" data-preprocessor="{{hyphenate to_record_type_us}}_edit_form" data-form-container="{{hyphenate to_record_type_us}}_edit_form" ></div>
</div>
{{/if}}
</script>
