<%# Templates for "standalone page" views (intranet / dashboard type views) of activity logs %>
<script id="common_page_template_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{# with (fpa_state_item 'template_config' (underscore name) vdef_version )}}
    {{> common_page_template_result_inner result_data=../result_data name=../name template_config=this _created=../_created vdef_version=../vdef_version}}
  {{/with}}
</script>

<script id="common_page_template_result_inner-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{#is name '!==' full_name }}<div id="{{ hyphenate name }}-{{result_data.master_id}}-{{result_data.id}}" {{{ data_sort_str }}}> {{/is}}
  <div class="common-template-item common-page-template-item index-{{_created}} {{hyphenate name}}-item {{>result_extra_class}} {{is_activity_log_class}} default-layout-{{id_hyphenate result_data.default_layout}}" 
       data-model-data-type="{{model_data_type}}" 
       id="{{hyphenate full_name}}-{{result_data.master_id}}-{{result_data.id}}" 
       data-template="{{hyphenate name}}-result-template" 
       data-item-class="{{item_class_name}}" 
       data-sub-item="{{full_name}}" 
       data-sub-id="{{result_data.id}}" 
       data-item-id="{{result_data.item_id}}" 
       data-{{data_sort_attr}}="{{lookup result_data (underscore data_sort_attr)}}{{#if subsort_id }}--{{pad_start result_data.id 10 '0'}}{{/if}}" 
       {{{ data_sort_str }}} 
       data-human-name="{{>show_result_caption result_data=result_data}}"
       data-view-handlers="{{join template_config.view_options.view_handlers ' '}}"
       data-def-version="{{def_version}}"
       data-default-layout="{{result_data.default_layout}}"
  >
    {{#caption_before_substitutions result_data }}
    <ul class="page-item-container list-group {{#if prevent_edit }}prevent-edit{{else}}allow-edit{{/if}} {{is_activity_log_class}}" data-item-id="{{result_data.id}}" data-item-rank="{{result_data.rank}}" data-{{data_sort_attr}}="{{lookup result_data (underscore data_sort_attr)}}{{#if subsort_id }}--{{pad_start result_data.id 10 '0'}}{{/if}}" {{> custom_block_attrs_html }} >

      {{#with result_data}}
        {{#each embedded_items}}
        <div class="embedded-items-item {{extra_classes}} ei-item-{{id_hyphenate title}} option-type-{{option_type}}"
             style="order: {{or position_number '0'}}; width: {{or block_width 'unset'}};" 
        >
          {{> common_template_result_fields result_data=this name=resource_name template_config=(fpa_state_item 'template_config' resource_name vdef_version)}}

          {{#with embedded_item}}
            {{> common_template_result_fields result_data=this name=resource_name template_config=(fpa_state_item 'template_config' resource_name vdef_version)}}
          
            {{#is resource_name '===' 'nfs_store__manage__containers'}}
              {{#each ../model_references}}
                {{#is to_record_options_config.view_as.show '!==' 'hide'}}
                  {{#is to_record_options_config.view_as.show '===' 'filestore'}}
                    {{>filestore_simple_template_view prevent_edit=true name=name}}
                  {{/is}}
                {{/is}}
              {{/each}}
            {{/is}}
          {{/with}}
        </div>
        {{/each}}
      {{/with}}

    </ul>

    {{/caption_before_substitutions}}

  </div>
  {{#is name '!==' full_name }}</div> {{/is}}

</script>
