<span class="select">
  <%= select_tag :use_app_type, 
        options_for_select( @app_type_switches, selected: current_user.app_type_id), 
        id: 'use_app_type_select', 
        data: {app_type_id: current_user.app_type_id}, 
        class: 'has-value attached-has-value form-control input-sm ff' 
  %>
</span>