<div class="row">
    <div class="col-md-22 col-md-offset-1">          
      <ul>
          <% @report.filtering_list.each do |f|%>
          <li><%= link_to f[:name], report_path(id: f[:id]), target: 'report' %>: <%=f[:results_length] %> results
              <ul>
                  <% f[:search_params].each do |k,v|%>  
                  <li><%= k%>: <%= v.is_a?(Array) ? v.join(", ") : v %> </li>
                  <% end %>
                
              </ul>
          </li>
          <% end %>
      </ul>
    </div>
</div>
