<% json = @results.to_json %>
<div id="report-calendar" class="report-calendar" >
</div>
<script>
window.setTimeout(function() {

  var calendarEl = document.getElementById('report-calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    plugins: ['interaction', 'dayGrid', 'timeGrid'],
    defaultView: 'dayGridMonth',
    defaultDate: (new Date).toISOString(),
    contentHeight: 650,
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay' },

      events: <%= json.html_safe %>
    });
    calendar.render();
}, 100);

</script>
