<div class="hidden" role="alert" id="ie-error">
  <h1>Internet Explorer browser is not supported.</h1>
  <p>This browser will not display data correctly.</p>
  <p>Please use another browser: Firefox, Chrome and Edge all work well.</p>
</div>

<script>
 $(function(){
   if(!String.prototype.padStart) {
     _fpa.show_modal($('#ie-error').removeClass('hidden').addClass('alert alert-danger'));
   }
 })
</script>
