<div class="help-sidebar collapse" id="help-sidebar">
  <div class="help-sidebar-container">
    <div id="help-sidebar-header">
      <button type="button" class="btn btn-sm btn-expander" data-toggle="sidebar-expand" data-target="#help-sidebar" aria-label="Expand"><span aria-hidden="true" class="glyphicon glyphicon-resize-full"></span></button>
      <button type="button" class="btn btn-sm btn-shrinker" data-toggle="sidebar-shrink" data-target="#help-sidebar" aria-label="Shrink"><span aria-hidden="true" class="glyphicon glyphicon-resize-small"></span></button>
      <button type="button" class="close" data-toggle="collapse" data-target="#help-sidebar" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div id="help-sidebar-body" data-preprocessor="help-sidebar" data-subscription="help-doc-content-result"></div>
  </div>
</div>