<%
 text = '' unless defined? text
%>
<div class="container well">
  <h1>Unexpected Error</h1>
  <p class="">
    <%= text %>
  </p>
  <p class="text-center">
    <%=link_to 'Go Back', :back, class: 'btn btn-default' %>
  </p>
</div>
<% flash.discard %>
